<div class="mainimage">
<?=$slide_tbl?>
</div>

<div class="greeting">
<p class="heading"><?=$contents_body[0]?></p>
<?=$contents_body[1]?>
</div>

<!-- <p class="top_title"><?=$contents_body[0]?></p>
<div class="top_title_below_text"><?=$contents_body[1]?></div> -->

<!-- <div class="newslist marR20"> -->
<br>
<br>
<br>
<div class=" marR20">
	<div class="title_news">News</div>
<dl>
<?=$info_tbl?>
</dl>
</div>

<!-- <div class="newslist news">
	<div class="title_activities" style="height: 30px; background: #308952; color: #FFF; border-bottom: 3px solid #3ba564; line-height: 30px;text-indent: 1em; letter-spacing: 0.08em;">News UpToDate</div>
<dl>
<?=$news_tbl?>
</dl>
</div> -->
