<h2>Contact</h2>
<div class="main_box">
<p>Please complete the from below.</p>
<br>
<ul>
	<li>Mandatory fields are marked with an *.</li>
	<li>Please do not use special characters, which may not be submitted correctly.</li>
</ul>
<br>
<form method="post" action="./?mode=contact">

<table border="0" cellspacing="0" cellpadding="0" class="mailform" summary="mailform main">
<tr class="mfptr">
<th>Title&nbsp;*</th>
<td><input type="text" name="title" size="20" value="<?=$dsp[ 'title' ]?>" <?=$err_style1[ 'title' ]?> />
<div class="mfp_err"<?=$err_style2[ 'title' ]?>><?=$err_msg[ 'title' ]?></div></td>
</tr>
<tr class="mfptr" style="background: #e8eef9">
<th>Name&nbsp;*</th>
<td><input type="text" name="name" size="20" value="<?=$dsp[ 'name' ]?>" <?=$err_style1[ 'name' ]?> />
<div class="mfp_err"<?=$err_style2[ 'name' ]?>><?=$err_msg[ 'name' ]?></div></td>
</tr>
<tr class="mfptr">
<th>Company Name&nbsp;*</th>
<td><input type="text" name="c_name" size="20" value="<?=$dsp[ 'c_name' ]?>" <?=$err_style1[ 'c_name' ]?> />
<div class="mfp_err"<?=$err_style2[ 'c_name' ]?>><?=$err_msg[ 'c_name' ]?></div></td>
</tr>
<tr class="mfptr" style="background: #e8eef9">
<th>City&nbsp;*</th>
<td><input type="text" name="city" size="20" value="<?=$dsp[ 'city' ]?>" <?=$err_style1[ 'city' ]?> />
<div class="mfp_err"<?=$err_style2[ 'city' ]?>><?=$err_msg[ 'city' ]?></div></td>
</tr>
<tr class="mfptr">
<th>State&nbsp;*</th>
<td><input type="text" name="state" size="20" value="<?=$dsp[ 'state' ]?>" <?=$err_style1[ 'state' ]?> />
<div class="mfp_err"<?=$err_style2[ 'state' ]?>><?=$err_msg[ 'state' ]?></div></td>
</tr>
<!-- <tr class="mfptr" style="background: #e8eef9">
<th>フリガナ</th>
<td><input type="text" name="kana" size="20" value="<?=$dsp[ 'kana' ]?>"  <?=$err_style1[ 'kana' ]?>/></td></tr> -->
<!-- <tr class="mfptr">
<th>Sex</th>
<td>
	<ul>
		<li>
		<label for="male" id="male_label" class="mfp">
		<input type="radio" name="sex" id="male" value="1" class="mfp" <?=$dsp[ 'sex_checked' ][1]?> />man
		</label>
		</li>
		<li>
		<label for="female" id="female_label" class="mfp">
		<input type="radio" name="sex" id="female" value="2" class="mfp" <?=$dsp[ 'sex_checked' ][2]?> />woman
		</label>
		</li>
	</ul>
</div>
</td>
</tr> -->
<tr class="mfptr" style="background: #e8eef9">
<th>EMail&nbsp;*</th>
<td><input type="text" name="mail" value="<?=$dsp[ 'mail' ]?>" size="40"  <?=$err_style1[ 'mail' ]?>/>
<div class="mfp_err" <?=$err_style2[ 'mail' ]?> ><?=$err_msg[ 'mail' ]?></div></td>
</tr>
<tr class="mfptr">
<th>Mail Confirm&nbsp;*</th>
<td><input type="text" name="mail_check" value="<?=$dsp[ 'mail_check' ]?>" size="40" <?=$err_style1[ 'mail_check' ]?> />
<div class="mfp_err" <?=$err_style2[ 'mail_check' ]?>><?=$err_msg[ 'mail_check' ]?></div></td>
</tr>
<tr class="mfptr" style="background: #e8eef9">
<th>Phone&nbsp;*</th>
<td><input type="text" name="tel" value="<?=$dsp[ 'tel' ]?>" size="12"  <?=$err_style1[ 'tel' ]?>/><div class="mfp_err"<?=$err_style2[ 'tel' ]?>><?=$err_msg[ 'tel' ]?></div></td>
</tr>
<!-- <tr class="mfptr">
<th>郵便番号</th>
<td>
<input type="text" name="zip" size="8" value="<?=$dsp[ 'zip' ]?>"   <?=$err_style1[ 'zip' ]?>/>
<a href="http://www.post.japanpost.jp/zipcode/" target="_blank">郵便番号を調べる</a>
<div class="mfp_err"<?=$err_style2[ 'zip' ]?>><?=$err_msg[ 'zip' ]?></div></td>
</tr>
<tr class="mfptr" style="background: #e8eef9">
<th>ご住所</th>
<td><ol>
<li> <span>都道府県</span>
<select name="add1" id="mfp_el07" class="mfp">
<option value="">【選択して下さい】</option>
<?
// html_options( 
// 	$op_arr = $add1_options,
// 	$selected= $dsp[ 'add1' ]
// );
?>
</select>
</li>
<li><span>市区町村</span>
<input type="text" name="add2" value="<?=$dsp[ 'add2' ]?>" size="50"  <?=$err_style1[ 'add2' ]?>/>
</li>
<li><span>丁目番地</span>
<input type="text" name="add3" value="<?=$dsp[ 'add3' ]?>" size="50"  <?=$err_style1[ 'add3' ]?>/>
</li>
</ol></td>
</tr> -->
<tr class="mfptr">
<th>Comment&nbsp;*</th>
<td><textarea name="cmnt" id="mfp_el10" rows="10" cols="60" <?=$err_style1[ 'cmnt' ]?>><?=$dsp[ 'cmnt' ]?></textarea>
<div class="mfp_err" <?=$err_style2[ 'cmnt' ]?>><?=$err_msg[ 'cmnt' ]?></div></td>
</tr>
<tr class="mfptr" style="background: #e8eef9">
<th>Send Confirm&nbsp;*</th>
<td><label for="send_confirm" id="send_confirm_label" class="mfp">
<input type="checkbox" id="send_confirm" name="check" value="1" class="mfp" <?=$dsp[ 'check_checked' ]?>/>
Please check after reviewing the contents of the transmission</label>
<div class="mfp_err" <?=$err_style2[ 'check' ]?>><?=$err_msg[ 'check' ]?></div></td>
</tr>
</table>
<div id="mfp_buttons">
<ul>
<li>
	<input type="submit" name="RESET" value="RESET">
<!-- <input type="submit" name="RESET" value=" "  id="button_mfp_reset" onmouseover="this.style.background='url(images/mfp_reset_over.gif)'" onmouseout="this.style.background='url(images/mfp_reset.gif)'" /> -->
</li>
<li>
	<input type="submit" name="CONFIRM" value="PROCEED">
<!-- <input type="submit" name="CONFIRM" value=" " id="button_mfp_goconfirm" onmouseover="this.style.background='url(images/mfp_goconfirm_over.gif)'" onmouseout="this.style.background='url(images/mfp_goconfirm.gif)'" /> -->
</li>
</ul>
</div>
</form>
</div>