<div id="hd">
<h1><a href="http://www.jilm.or.jp/society/"><img src="images/hdh1.jpg" alt="一般社団法人 軽金属学会│The Japan Institute of Light Metals" width="437" height="64" /></a></h1>
<div id="hd_right">
<!-- ヘッダー検索 -->
<dl id="search">
<dt><img src="images/hdr_s.jpg" alt="軽金属学会HP内検索" width="129" height="22" /></dt>
<dd><form name="searchform1" id="searchform1" method="get" action="index.php">
<input name="keywords1" id="keywords1" value="<?=$search_site_keyword?>" type="text" />
<input type="image" src="images/btn_search.jpg" alt="検索" name="searchBtn1" id="searchBtn1" />
</form>
</dd>
</dl>
<div class="crr"></div>
<!-- ヘッダーメニュー -->
<div id="hdr_menu">
<a href="./?mode=content&pid=76"><img src="images/hdr_menu01.jpg" alt="ログイン" width="74" height="15" class="hoverImg" /></a><a href="./?mode=contact"><img src="images/hdr_menu02.jpg" alt="お問い合わせ" width="96" height="15" class="hoverImg" /></a><a href="./?mode=privacy"><img src="images/hdr_menu03.jpg" alt="プライバシーポリシー" width="145" height="15" class="hoverImg" /></a><a href="/eng"><img src="images/hdr_menu04.jpg" alt="English" width="70" height="15" class="hoverImg" /></a><a href="/alma/" target="_blank"><img src="images/hdr_menu05.jpg" alt="国際交流" width="302" height="13" class="hoverImg marT5" /></a></div>
</div>
</div>