
<div id="hd">
<h1><img src="images/hdh1.jpg" alt="一般社団法人 軽金属学会│The Japan Institute of Light Metals" width="437" height="64" /></h1>
<div id="hd_right">
<!-- ヘッダー検索 -->
<dl id="search">
<dt><img src="images/hdr_s.jpg" alt="軽金属学会HP内検索" width="129" height="22" /></dt>
<dd><form name="searchform1" id="searchform1" method="get" action="index.php">
<input name="keywords1" id="keywords1" value="<?=$search_site_keyword?>" type="text" />
<input type="image" src="images/btn_search.jpg" alt="検索" name="searchBtn1" id="searchBtn1" />
</form>
</dd>
</dl>
<div class="crr"></div>
<!-- ヘッダーメニュー -->
<div id="hdr_menu"><?=$header_dsp[ 'member_name' ]?>様ログイン中&nbsp;<a href="./?mode=content&pid=71">登録内容変更 </a>&nbsp;<a href="./?mode=logout">ログアウト</a><a href="./?mode=contact"><img src="images/hdr_menu02.jpg" alt="お問い合わせ" width="96" height="15" class="hoverImg" /></a><a href="./?mode=privacy"><img src="images/hdr_menu03.jpg" alt="プライバシーポリシー" width="145" height="15" class="hoverImg" /></a><a href="./?mode=english"><img src="images/hdr_menu04.jpg" alt="English" width="70" height="15" class="hoverImg" /></a></div>
</div>
</div>