<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属女性未来賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）軽金属女性未来賞は、軽金属分野において学術研究または技術開発に顕著な功績をあげ、将来の活躍が期待される新進気鋭の女性研究者または女性技術者に贈る。 <br />
2）受賞者は、受賞の年の4月1日現在満年齢45歳以下で、大学、公的研究機関または企業に在籍する者、あるいは大学院博士後期課程在学者とする。 </p>
<h4>2.応募推薦方法 </h4>
<p>受賞候補者は、本学会の会誌「軽金属」の会告及び本学会のホームページによって公募する。 </p>
<h4>3.本年度応募推薦書提出期限 </h4>
<p>平成25年7月12日（金）　　応募推薦書は<a href="./images/contents/154/jyoseimiraiyousi.doc" target="_blank">こちら</a></p>
<h4>4.受賞者一覧 </h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th>回数</th>
<th>年度</th>
<th>受賞者</th>
<th>受賞者所属</th>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/5jyoseimirai.pdf" target="_blank">第5回</a></th>
<td>平成25年度</td>
<td>　大島　智子</td>
<td>株式会社ＴＹＫ</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/4jyoseimirai.pdf" target="_blank">第4回</a></th>
<td>平成24年度</td>
<td>　三浦　永理</td>
<td>兵庫県立大学</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/3jyoseimirai.pdf" target="_blank">第3回</a></th>
<td>平成23年度</td>
<td>　渡辺　睦子</td>
<td>古河スカイ株式会社</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/2jyoseimirai.pdf" target="_blank">第2回</a></th>
<td >平成22年度</td>
<td>　上田　薫</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<th rowspan="2" class="alignT"><a href="data/prize/1jyoseimirai.pdf" target="_blank">第1回</a></th>
<td rowspan="2">平成21年度</td>
<td>　鈴木　真由美</td>
<td>東北大学</td>
</tr>
<tr>
<td>　鳥居　麗子</td>
<td>三菱アルミニウム株式会社</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
