<h2>表彰</h2>
<div class="main_box">
<h3>【高橋記念賞】</h3>
<h4>1.受賞対象 </h4>
<p>本賞は軽金属鋳物・ダイカスト製品等の製造並びにこれらに関連ある工業技術の進歩発展に関して功労のあった技能職を対象とする。 </p>
<h4>2.応募推薦方法 </h4>
<p>1）本賞の受賞候補者は、軽金属学会誌「軽金属」の会告によって公募する。 <br />
2）本賞の推薦者は本会支部長とし、別に定める<a href="./images/contents/148/takahashiyousi.doc" target="_blank">推薦書</a>により会長宛、所定の期日までに推薦する。 </p>
<h4>3.本年度応募推薦書提出期限（支部長から本部への提出期限） </h4>
<p>平成25年7月12日（金）　 </p>
<h4>4.受賞者一覧 </h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th align="center" class="alignT">回数</th>
<th align="center" width="100">年度</th>
<th align="center" width="122">受賞者</th>
<th align="center">受賞者所属</th>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第1回</th>
<td rowspan="4" width="100">昭和53年度</td>
<td width="122">　竹田　 善保</td>
<td>古河鋳造株式会社</td>
</tr>
<tr>
<td width="122">　川村 和徳</td>
<td>株式会社 東京軽合金製作所</td>
</tr>
<tr>
<td width="122">　伊藤 幾久雄</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<td width="122">　山路 厳</td>
<td>トヨタ自動車工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第2回</th>
<td rowspan="4" width="100">昭和54年度</td>
<td width="122">　広本　 徳光</td>
<td>古河アルミニウム工業株式会社</td>
</tr>
<tr>
<td width="122">　角　　 勝嘉　</td>
<td>日立金属株式会社</td>
</tr>
<tr>
<td width="122">　小川　 通長</td>
<td>光生アルミニューム工業株式会社</td>
</tr>
<tr>
<td width="122">　仁科 皓一郎</td>
<td>株式会社 日本軽金属総合研究所</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第3回</th>
<td rowspan="4" width="100">昭和55年度</td>
<td width="122">　永塚　 昇　</td>
<td>株式会社共立</td>
</tr>
<tr>
<td width="122">　佐藤 京司</td>
<td>株式会社 日本軽金属総合研究所</td>
</tr>
<tr>
<td width="122">　柘植　 平　</td>
<td>アイシン精機株式会社</td>
</tr>
<tr>
<td width="122">　松井 修二</td>
<td>リョービ株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第4回</th>
<td rowspan="4" width="100">昭和56年度</td>
<td width="122">　寺内　 芳次</td>
<td>株式会社 東京軽合金製作所</td>
</tr>
<tr>
<td width="122">　野沢　 隆二</td>
<td>扶桑軽合金株式会社</td>
</tr>
<tr>
<td width="122">　坂部　 久雄</td>
<td>大豊工業株式会社</td>
</tr>
<tr>
<td width="122">　大倉　 充治</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第5回</th>
<td rowspan="4" width="100">昭和57年度</td>
<td width="122">　長尾 俊夫</td>
<td>泉自動車株式会社</td>
</tr>
<tr>
<td width="122">　日坂 茂之</td>
<td>日立金属株式会社</td>
</tr>
<tr>
<td width="122">　澤田　 洋　　</td>
<td>日本電装株式会社</td>
</tr>
<tr>
<td width="122">　山崎 康満</td>
<td>日比野工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第6回</th>
<td rowspan="4" width="100">昭和58年度</td>
<td width="122">　稲葉 二郎</td>
<td>古河アルミニウム工業株式会社</td>
</tr>
<tr>
<td width="122">　神取　 一美</td>
<td>愛三工業株式会社</td>
</tr>
<tr>
<td width="122">　村山 治</td>
<td>島野工業株式会社</td>
</tr>
<tr>
<td width="122">　山本 勇</td>
<td>広島アルミニウム工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第7回</th>
<td rowspan="4" width="100">昭和59年度</td>
<td width="122">　久米原十三八</td>
<td>日立金属株式会社</td>
</tr>
<tr>
<td width="122">　坪野　 勇次</td>
<td>喜多方軽金属株式会社</td>
</tr>
<tr>
<td width="122">　山田　 眞一</td>
<td>泉自動車工業株式会社</td>
</tr>
<tr>
<td width="122">　高橋　 眞勝　</td>
<td>トヨタ自動車株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第8回</th>
<td rowspan="4" width="100">昭和60年度</td>
<td width="122">　明地　 義成</td>
<td>北陸アルミニウム株式会社</td>
</tr>
<tr>
<td width="122">　緒方 得男</td>
<td>菱三工業株式会社</td>
</tr>
<tr>
<td width="122">　山本 教雄</td>
<td>マツダ株式会社</td>
</tr>
<tr>
<td width="122">　児山　 哲甫</td>
<td>株式会社 エフキャスト</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第9回</th>
<td rowspan="4" width="100">昭和61年度</td>
<td width="122">　高木 　仁</td>
<td>扶桑軽合金株式会社</td>
</tr>
<tr>
<td width="122">　小島 豊</td>
<td>アイシン精機株式会社</td>
</tr>
<tr>
<td width="122">　楠　　　正</td>
<td>京都ダイカスト工業株式会社</td>
</tr>
<tr>
<td width="122">　下田 　仁　</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第10回</th>
<td rowspan="4" width="100">昭和62年度</td>
<td width="122">　松木 昌司</td>
<td>日軽苫小牧株式会社</td>
</tr>
<tr>
<td width="122">　中嶋 功</td>
<td>いすゞ自動車株式会社</td>
</tr>
<tr>
<td width="122">　佐々木逸郎</td>
<td>アイシン精機株式会社</td>
</tr>
<tr>
<td width="122">　末広　 静夫</td>
<td>アルメタックス株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第11回</th>
<td rowspan="4" width="100">昭和63年度</td>
<td width="122">　穴田　 敏夫</td>
<td>株式会社アーレスティ栃木</td>
</tr>
<tr>
<td width="122">　小関 　完次</td>
<td>菅原精密工業株式会社</td>
</tr>
<tr>
<td width="122">　夏目 　昇</td>
<td>日本電装株式会社</td>
</tr>
<tr>
<td width="122">　吉武 　英臣</td>
<td>本田技研工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第12回</th>
<td rowspan="4" width="100">平成元年度</td>
<td width="122">　大熊 　秀夫</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<td width="122">　大西 　勇</td>
<td>広島アルミニウム工業株式会社</td>
</tr>
<tr>
<td width="122">　塚原 　敏夫</td>
<td>古河アルミニウム工業株式会社</td>
</tr>
<tr>
<td width="122">　寺内 　稔</td>
<td>昭和アルミニウム株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第13回</th>
<td rowspan="4" width="100">平成2年度</td>
<td width="122">　善光寺進</td>
<td>富山合金株式会社</td>
</tr>
<tr>
<td width="122">　角田　 茂　</td>
<td>株式会社 アーレスティ栃木</td>
</tr>
<tr>
<td width="122">　露木 　勇司</td>
<td>日産自動車株式会社</td>
</tr>
<tr>
<td width="122">　中村 　稔</td>
<td>大豊工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第14回</th>
<td rowspan="4" width="100">平成3年度</td>
<td width="122">　伊藤　 正義</td>
<td>光生アルミニューム工業株式会社</td>
</tr>
<tr>
<td width="122">　今枝　 一男</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<td width="122">　山本 　正美</td>
<td>旭テック株式会社</td>
</tr>
<tr>
<td width="122">　湯沢 　久</td>
<td>株式会社 東京軽合金製作所　</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第15回</th>
<td rowspan="4" width="100">平成4年度</td>
<td width="122">　川原　 憲一</td>
<td>本田技研工業株式会社</td>
</tr>
<tr>
<td width="122">　後藤　 和久</td>
<td>アイシン精機株式会社</td>
</tr>
<tr>
<td width="122">　関口 　友明</td>
<td>吉田工業株式会社</td>
</tr>
<tr>
<td width="122">　沼口 　忠夫</td>
<td>株式会社アーレスティ</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第16回</th>
<td rowspan="4" width="100">平成5年度</td>
<td width="122">　串田 　国彦</td>
<td>不二サッシ株式会社</td>
</tr>
<tr>
<td width="122">　鈴木 　登</td>
<td>古河鋳造株式会社</td>
</tr>
<tr>
<td width="122">　平木　 清美</td>
<td>日本線材株式会社</td>
</tr>
<tr>
<td width="122">　山瀬 　敏彦</td>
<td>三菱自動車工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第17回</th>
<td rowspan="4" width="100">平成6年度</td>
<td width="122">　今村 　正一</td>
<td>大豊工業株式会社</td>
</tr>
<tr>
<td width="122">　大栗 　巌</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td width="122">　鶴園　 幸一</td>
<td>日立金属株式会社</td>
</tr>
<tr>
<td width="122">　堀　　  良一</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第18回</th>
<td rowspan="4" width="100">平成7年度</td>
<td width="122">　荒巻　 公男</td>
<td>柳川精機株式会社</td>
</tr>
<tr>
<td width="122">　工藤　 千一</td>
<td>美和ロック株式会社</td>
</tr>
<tr>
<td width="122">　小林　 清</td>
<td>新日軽株式会社</td>
</tr>
<tr>
<td width="122">　高橋　 重己</td>
<td>トヨタ自動車株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第19回</th>
<td rowspan="4" width="100">平成8年度</td>
<td width="122">　上田　 宏城</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td width="122">　大村　 誠</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<td width="122">　清水　 保</td>
<td>三菱自動車工業株式会社</td>
</tr>
<tr>
<td width="122">　辻 　　 忠</td>
<td>立山合金工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第20回</th>
<td rowspan="4" width="100">平成9年度</td>
<td width="122">　阿部　 繁雄</td>
<td>株式会社 本田技術研究所</td>
</tr>
<tr>
<td width="122">　澤田　 二三幸</td>
<td>トピー工業株式会社</td>
</tr>
<tr>
<td width="122">　長屋　 和美</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<td width="122">　星野　 晃一</td>
<td>古河電気工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第21回</th>
<td rowspan="4" width="100">平成10年度</td>
<td width="122">　金谷　 光洋</td>
<td>トヨタ自動車株式会社</td>
</tr>
<tr>
<td width="122">　河島　 元三</td>
<td>宇部興産株式会社</td>
</tr>
<tr>
<td width="122">　柴田　 裕</td>
<td>株式会社 神戸製鋼所</td>
</tr>
<tr>
<td width="122">　山脇　 慧</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第22回</th>
<td rowspan="4" width="100">平成11年度</td>
<td width="122">　小島　 光義</td>
<td>愛三工業株式会社</td>
</tr>
<tr>
<td width="122">　堂用　 正信</td>
<td>ＹＫＫ株式会社</td>
</tr>
<tr>
<td width="122">　中村　 隆</td>
<td>旭テック株式会社</td>
</tr>
<tr>
<td width="122">　平田　 保広</td>
<td>九州三井アルミニウム工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第23回</th>
<td rowspan="4" width="100">平成12年度</td>
<td width="122">　伊藤　 満男</td>
<td>富山合金株式会社</td>
</tr>
<tr>
<td width="122">　岩住　 達雄</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<td width="122">　笠原　 達男</td>
<td>昭和アルミニウム株式会社</td>
</tr>
<tr>
<td width="122">　冨永　 猛</td>
<td>アイシン高丘株式会社</td>
</tr>
<tr>
<th rowspan="3" align="center" class="alignT">第24回</th>
<td rowspan="3" width="100">平成13年度</td>
<td width="122">　有田　 静雄</td>
<td>光生アルミニューム株式会社</td>
</tr>
<tr>
<td width="122">　川島　 栄治</td>
<td>大豊工業株式会社</td>
</tr>
<tr>
<td width="122">　吉村　 利道</td>
<td>神鋼ファブテック株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT">第25回</th>
<td rowspan="4" width="100">平成14年度</td>
<td align="left" width="122">　小山　秀敏</td>
<td>リョービミラサカ株式会社</td>
</tr>
<tr>
<td align="left" width="122">　島　高志</td>
<td>アイシン軽金属株式会社</td>
</tr>
<tr>
<td align="left" width="122">　佐々木　茂男</td>
<td>株式会社神戸製鋼所大安工場</td>
</tr>
<tr>
<td width="122">　長田　光明</td>
<td>アイシン精機株式会社西尾工場</td>
</tr>
<tr>
<th rowspan="2" align="center" class="alignT"><a href="data/prize/15takahasi.htm" target="_blank">第26回</a></th>
<td width="100" rowspan="2">平成15年度</td>
<td width="122">　梅本　保行</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td width="122">　川野原　敏夫</td>
<td>神鋼鋼線工業株式会社</td>
</tr>
<tr>
<th rowspan="4" align="center" class="alignT"><a href="data/prize/16takahasi.htm" target="_blank">第27回</a></th>
<td rowspan="4" width="100">平成16年度</td>
<td align="left" width="122">　平田　強</td>
<td>リョービ株式会社</td>
</tr>
<tr>
<td align="left" width="122">　成田　裕幸</td>
<td>Furukawa Automotive Parts(VIETNUM)INC</td>
</tr>
<tr>
<td align="left" width="122">　伊東　照尾</td>
<td>株式会社デンソー</td>
</tr>
<tr>
<td width="122">　森下　喜己</td>
<td>旭テック株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="data/prize/17takahasi.htm" target="_blank">第28回</a></th>
<td rowspan="4">平成17年度</td>
<td align="left" width="122">　前田　純郎</td>
<td>新日軽株式会社</td>
</tr>
<tr>
<td align="left" width="122">　和田　康之</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td>　小倉　均</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<td align="left" width="122">　野藤　稔</td>
<td>昭和電工堺アルミ株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="data/prize/29takahasi.pdf" target="_blank">第29回</a></th>
<td rowspan="4">平成18年度</td>
<td>　杉山　義雄</td>
<td>株式会社豊田中央研究所</td>
</tr>
<tr>
<td>　清　　 和明</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<td>　山田　弘一郎</td>
<td>朝日アルミニウム株式会社</td>
</tr>
<tr>
<td>　青木　清信</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="data/prize/30takahasi.pdf" target="_blank">第30回</a></th>
<td rowspan="4">平成19年度</td>
<td>　今井　良太</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td>　岡本　実</td>
<td>株式会社アーレスティ</td>
</tr>
<tr>
<td>　重村　隆</td>
<td>宇部興産機械株式会社</td>
</tr>
<tr>
<td>　森山　恭通</td>
<td>古河スカイ株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="data/prize/31takahasi.pdf" target="_blank">第31回</a></th>
<td rowspan="4">平成20年度</td>
<td>　上野　正男</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　橋本　一美</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td>　宮脇　昭</td>
<td>昭和電工堺アルミ株式会社</td>
</tr>
<tr>
<td>　森　　 泉</td>
<td>九州柳河精機株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="data/prize/32takahasi.pdf" target="_blank">第32回</a></th>
<td rowspan="4">平成21年度</td>
<td>　朝原　仁</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　安達　武一</td>
<td>株式会社デンソー</td>
</tr>
<tr>
<td>　小宮　博樹</td>
<td>九州三井アルミニウム工業株式会社</td>
</tr>
<tr>
<td>　弓山　和久</td>
<td>住友化学株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="./images/contents/163/33takahasi.pdf" target="_blank">第33回</a></th>
<td rowspan="4">平成22年度</td>
<td>　東　　康則</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　大類　将彦</td>
<td>日産自動車株式会社</td>
</tr>
<tr>
<td>　西　　守</td>
<td>宇部興産ホイール株式会社</td>
</tr>
<tr>
<td>　野寺　哲治</td>
<td>ＹＫＫ ＡＰ株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="./images/contents/163/34takahasi.pdf" target="_blank">第34回</a></th>
<td rowspan="4">平成23年度</td>
<td>　上田　　勇</td>
<td>株式会社豊田中央研究所</td>
</tr>
<tr>
<td>　尾崎　敏幸</td>
<td>大阪豆陽金属工業株式会社</td>
</tr>
<tr>
<td>　諏訪　一浩</td>
<td>古河スカイ株式会社</td>
</tr>
<tr>
<td>　宮崎　　寛</td>
<td>神鋼ファブテック株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="./images/contents/163/35takahasi.pdf" target="_blank">第35回</a></th>
<td rowspan="4">平成24年度</td>
<td>　神山　達也</td>
<td>古河スカイ株式会社</td>
</tr>
<tr>
<td>　竹添　義久</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　藤井　裕喜</td>
<td>広島アルミニウム工業株式会社</td>
</tr>
<tr>
<td>　和田　修治</td>
<td>昭和電工堺アルミ株式会社</td>
</tr>
<tr>
<th rowspan="4" class="alignT"><a href="./images/contents/163/36takahasi.pdf" target="_blank">第36回</a></th>
<td rowspan="4">平成25年度</td>
<td>　作本　邦博</td>
<td>九州三井アルミニウム工業株式会社</td>
</tr>
<tr>
<td>　鈴木　伯忠</td>
<td>株式会社 アーレスティ栃木</td>
</tr>
<tr>
<td>　武田　浩昭</td>
<td>三協立山株式会社三協マテリアル社</td>
</tr>
<tr>
<td>　松橋　則夫</td>
<td>株式会社 神戸製鋼所</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
