<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属功績賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）軽金属功績賞は、軽金属に関わる学術研究および技術開発に顕著な功績を挙げ、本学会の発展に貢献した者に贈る。 <br />
2）受賞者は、受賞の年の4月1日現在満年齢46歳以上の者とする。ただし、過去に本賞を受けた者は対象としない。 </p>
<h4>2.応募推薦方法 </h4>
<p>1）受賞候補者は、本学会の会誌「軽金属」の会告及び本学会のホームページによって公募する。 <br />
2）推薦者は本学会正会員とする。 </p>
※応募には、本学会の正会員、名誉会員または永年会員の推薦を必要とします。
<h4>3.平成25年度応募推薦書提出期限 </h4>
<p>平成25年12月13日（金）　応募推薦書は<a href="./images/contents/165/kousekiyousi.doc" target="_blank">こちら</a></p>
<h4>4.受賞者一覧 </h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th align="center" class="alignT">回数</th>
<th align="center">年度</th>
<th align="center" colspan="2">受賞者</th>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/11kosekisyo.pdf" target="_blank">第11回</a></th>
<td>平成25年度</td>
<td colspan="2">　柴柳　敏哉　　　 富山大学　教授<br />
　高山　善匡　 　　宇都宮大学　教授</br>
　山本　厚之　 　　兵庫県立大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/10kosekisyo.pdf" target="_blank">第10回</a></th>
<td>平成24年度</td>
<td colspan="2">　小野　幸子　　　 工学院大学　教授<br />
　福富　洋志　 　　横浜国立大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/9kosekisyo.pdf" target="_blank">第9回</a></th>
<td>平成23年度</td>
<td colspan="2">　堀田　善治　　　 九州大学　主幹教授<br />
　松尾　守　 　　　元　古河スカイ株式会社　常務取締役<br />
　南埜　宜俊　　　 大阪大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/8kosekisyo.pdf" target="_blank">第8回</a></th>
<td>平成22年度</td>
<td colspan="2">　池田　勝彦　　　 関西大学　教授<br />
　鎌土　重晴 　　　長岡技術科学大学　教授<br />
　三輪　謙治　　　 産業技術総合研究所　主幹研究員</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/7kosekisyo.pdf" target="_blank">第7回</a></th>
<td>平成21年度</td>
<td colspan="2">　熊井　真次　　　 東京工業大学　教授<br />
　当摩　建　　　　　三菱アルミニウム株式会社<br />
　古城　紀雄　　　 大阪大学　特任教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/6kosekisyo.pdf" target="_blank">第6回</a></th>
<td>平成20年度</td>
<td colspan="2">　伊藤　吾朗　　　 茨城大学　教授<br />
　金谷　輝人　　　 岡山理科大学　教授<br />
　丸山　公一　　　 東北大学　教授　　　　　　　</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/5kosekisyo.pdf" target="_blank">第5回</a></th>
<td>平成19年度</td>
<td colspan="2">　金武　直幸　　　 名古屋大学　教授<br />
　世利　修美　　　 室蘭工業大学　教授<br />
　本村　　 貢　　　 早稲田大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/4kosekisyo.pdf" target="_blank">第4回</a></th>
<td>平成18年度</td>
<td colspan="2">　池野　　進　　　　富山大学　教授<br />
　高谷　松文　　　 千葉工業大学　教授<br />
　里　　 達雄　　 　東京工業大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/3kosekisyo.pdf" target="_blank">第3回</a></th>
<td>平成17年度</td>
<td colspan="2">　美浦　康宏　　　 九州大学　名誉教授<br />
　新家　光雄　　　 豊橋技術科学大学　教授<br />
　吉田　英雄　　　 住友軽金属工業株式会社</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/2kosekisyo.pdf" target="_blank">第2回</a></th>
<td>平成16年度</td>
<td colspan="2">　土田　　信　　　　住友軽金属工業株式会社<br />
　江藤武比古　　　株式会社神戸製鋼所<br />
　茂木　徹一　　　 千葉工業大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/1kosekisyo.pdf" target="_blank">第1回</a></th>
<td>平成15年度</td>
<td colspan="2">　宇野　照生　　　 住友軽金属工業株式会社<br />
　大堀　紘一　　　 三菱アルミニウム株式会社<br />
　菅野　幹宏　　　 東京大学　教授</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
