<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属奨励賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）本賞は軽金属の学術または工業に関する独創性、発展性に富む業績をあげ、将来軽金属学会における活躍が期待される新進気鋭の研究者、技術者に贈る。 <br />
2）前項の業績とは軽金属に関する研究成果の発表、製造技術・新製品の開発並びに発明等とする。 <br />
3）受賞者は受賞の年の4月1日現在満年令35才以下の正会員、学生会員とする。 </p>
<h4>2.応募推薦方法 </h4>
<p>1）受賞候補者は学会誌「軽金属」の会告によって公募する。 <br />
2）推薦者または応募者は所定の「軽金属奨励賞受賞候補推薦(応募)書」により、指定された期日までに会長宛に推薦(応募)する。 <br />
3）推薦者は本学会正会員とする。 </p>
<h4>3.本年度応募推薦書提出期限 </h4>
<p>平成24年7月13日（金） </p>
<h4>4.受賞者一覧 </h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th nowrap="nowrap" class="alignT">第1回</th>
<td nowrap="nowrap">昭和58年度</td>
<td nowrap="nowrap">　落合　庄治郎<br />
　里　　 達雄<br />
　吉田　英雄</td>
<td nowrap="nowrap">京都大学　工学部<br />
東京工業大学<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第2回</th>
<td nowrap="nowrap">昭和59年度</td>
<td nowrap="nowrap">　江藤　武比古<br />
　佐藤　譲<br />
　堀田　善治</td>
<td nowrap="nowrap">株式会社神戸製鋼所<br />
東北大学 工学部<br />
九州大学 工学部</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第3回</th>
<td nowrap="nowrap">昭和60年度</td>
<td nowrap="nowrap">　伊藤　吾朗<br />
　稲葉　隆<br />
　福富　洋志</td>
<td nowrap="nowrap">東京大学 工学部<br />
株式会社神戸製鋼所<br />
横浜国立大学 工学部</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第4回</th>
<td nowrap="nowrap">昭和61年度</td>
<td nowrap="nowrap">　坂口　雅司<br />
　古川　稔<br />
　南埜　宣俊</td>
<td nowrap="nowrap">昭和アルミニウム株式会社<br />
福岡教育大学 教育学部<br />
大阪大学 工学部</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第5回</th>
<td nowrap="nowrap">昭和62年度</td>
<td nowrap="nowrap">　大平　重男<br />
　渋江　和久<br />
　堀端　真彦</td>
<td nowrap="nowrap">株式会社日軽技研<br />
住友軽金属工業株式会社<br />
早稲田大学 理工学部</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第6回</th>
<td nowrap="nowrap">昭和63年度</td>
<td nowrap="nowrap">　相浦　直<br />
　菅沼　克昭<br />
　渡部　晶</td>
<td nowrap="nowrap">株式会社神戸製鋼所<br />
防衛大学校 工学部<br />
三菱アルミニウム株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第7回</th>
<td nowrap="nowrap">平成元年度</td>
<td nowrap="nowrap">　小松原　俊雄<br />
　武林　慶樹<br />
　平野　清一</td>
<td nowrap="nowrap">スカイアルミニウム株式会社<br />
株式会社神戸製鋼所<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第8回</th>
<td>平成2年度</td>
<td nowrap="nowrap">　熊井　真次<br />
　高山　善匡<br />
　森山　勉</td>
<td nowrap="nowrap">東京工業大学<br />
宇都宮大学 工学部<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第9回</th>
<td>平成3年度</td>
<td nowrap="nowrap">　鎌土　重晴<br />
　清水　吉広<br />
　宝野　和博</td>
<td nowrap="nowrap">長岡技術科学大学<br />
株式会社豊田中央研究所　<br />
東北大学　金属材料研究所</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第10回</th>
<td>平成4年度</td>
<td nowrap="nowrap">　小林　一徳<br />
　藤谷　渉<br />
　松澤　和夫</td>
<td nowrap="nowrap">株式会社アリシウム<br />
大阪大学 工学部<br />
東京都立工業高等専門学校</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第11回</th>
<td>平成5年度</td>
<td nowrap="nowrap">　荒木　秀樹<br />
　竹内　久司<br />
　水越　秀雄</td>
<td nowrap="nowrap">大阪大学 工学部<br />
株式会社神戸製鋼所<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第12回</th>
<td>平成6年度</td>
<td nowrap="nowrap">　大原　欽也<br />
　奥田　浩司<br />
　日比野　淳</td>
<td nowrap="nowrap">株式会社アリシウム<br />
京都大学 工学部<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第13回</th>
<td>平成7年度</td>
<td nowrap="nowrap">　生野　元<br />
　柴柳　敏哉<br />
　中山　栄浩</td>
<td nowrap="nowrap">株式会社豊田中央研究所<br />
大阪大学 工学部<br />
山梨大学 工学部</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第14回</th>
<td>平成8年度</td>
<td nowrap="nowrap">　佐藤　裕之<br />
　佐藤　文博</td>
<td nowrap="nowrap">東北大学 工学部<br />
株式会社 神戸製鋼所</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第15回</th>
<td>平成9年度</td>
<td nowrap="nowrap">　板垣　武志<br />
　小橋　眞　<br />
　中井　学</td>
<td nowrap="nowrap">三菱アルミニウム株式会社<br />
名古屋大学<br />
株式会社 神戸製鋼所</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第16回</th>
<td>平成10年度</td>
<td nowrap="nowrap">　石原　知<br />
　内田　秀俊<br />
　戸田　裕之</td>
<td nowrap="nowrap">科学技術振興事業団<br />
住友軽金属工業株式会社<br />
豊橋技術科学大学</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第17回</th>
<td>平成11年度</td>
<td nowrap="nowrap">　福本　信次<br />
　箕田　正</td>
<td nowrap="nowrap">姫路工業大学<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第18回</th>
<td>平成12年度</td>
<td nowrap="nowrap">　倉本　繁<br />
　辻　　 伸泰<br />
　新倉　昭男</td>
<td nowrap="nowrap">東京大学<br />
大阪大学<br />
古河電気工業株式会社</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第19回</th>
<td>平成13年度</td>
<td nowrap="nowrap">　樫原　恵蔵<br />
　黒田　周<br />
　村山　光宏</td>
<td nowrap="nowrap">和歌山工業高等専門学校<br />
三菱アルミニウム株式会社<br />
独立行政法人物質・材料研究機構</td>
</tr>
<tr>
<th class="alignT">第20回</th>
<td>平成14年度</td>
<td>　中川　惠友<br />
　吉原　伸二</td>
<td>岡山理科大学<br />
株式会社神戸製鋼所</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/15syoreisyo.htm" target="_blank">第21回</a></th>
<td>平成15年度</td>
<td>　廣澤　渉一<br />
　堀川　敬太郎<br />
　本居　徹也</td>
<td>東京工業大学<br />
徳島大学<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/16syoreisyo.htm" target="_blank">第22回</a></th>
<td>平成16年度</td>
<td>　梶原　桂<br />
　赤堀　俊和<br />
　高橋　昌也</td>
<td>株式会社神戸製鋼所<br />
豊橋技術科学大学<br />
住友軽金属工業株式会社</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/17syoreisyo.htm" target="_blank">第23回</a></th>
<td>平成17年度</td>
<td>　千野　靖正<br />
　八太　秀周<br />
　大垣　智巳</td>
<td>独立行政法人産業技術総合研究所<br />
住友軽金属工業株式会社<br />
豊橋技術科学大学</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/24syorei.pdf" target="_blank">第24回</a></th>
<td>平成18年度</td>
<td>　浅野　峰生<br />
　池田　賢一<br />
　山崎　倫昭</td>
<td>住友軽金属工業株式会社<br />
九州大学<br />
熊本大学</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/25syorei.pdf" target="_blank">第25回</a></th>
<td>平成19年度</td>
<td>　梅田　秀俊<br />
　小林　正和<br />
　村上　浩二</td>
<td>株式会社神戸製鋼所<br />
豊橋技術科学大学<br />
岡山県工業技術センター</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/26syorei.pdf" target="_blank">第26回</a></th>
<td>平成20年度</td>
<td>　江戸　正和<br />
　染川　英俊<br />
　戸高　義一</td>
<td>三菱アルミニウム株式会社<br />
独立行政法人物質・材料研究機構<br />
豊橋技術科学大学</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/28syorei.pdf" target="_blank">第28回</a></th>
<td>平成22年度</td>
<td>　一谷　幸司<br />
　仲井　正昭<br />
　森田　繁樹</td>
<td>古河スカイ株式会社<br />
東北大学<br />
佐賀大学</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/29syorei.pdf" target="_blank">第29回</a></th>
<td>平成23年度</td>
<td>　岩村　信吾<br />
　小椋　　智<br />
　野田　雅史</td>
<td>住友軽金属工業株式会社<br />
大阪大学<br />
千葉工業大学</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/30syorei.pdf" target="_blank">第30回</a></th>
<td>平成24年度</td>
<td>　泉　　孝裕<br />
　大谷　良行<br />
　坂口　信人</td>
<td>株式会社神戸製鋼所<br />
古河スカイ株式会社<br />
住友軽金属工業株式会社</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>