<h2>表彰</h2>
<div class="main_box">
<h3>【小山田記念賞】</h3>
<h4>1.受賞対象 </h4>
<p>本賞はわが国における軽金属の生産並びに製品の製作に関係した優れた技術を対象とし、その技術を確立した発明、考案あるいは研究の功績者に贈る。</p>
<h4>2.応募推薦方法 </h4>
<p>1）受賞候補技術は軽金属学会誌「軽金属」の会告により公募する。 <br />
2）推薦または応募は所定の<a href="./images/contents/150/oyamadayousi.doc" target="_blank">「小山田記念賞受賞候補技術推薦（応募）書」</a>により、指定された期日までに会長宛推薦（応募）する。 </p>
<h4>3.本年度応募推薦書提出期限 </h4>
<p>平成25年7月12日（金） </p>
<h4>4.受賞技術一覧</h4>
<table border="0" cellpadding="0" cellspacing="0" class="t_border">
<colgroup>
<col span="1" width="50" />
<col span="1" width="80" />
<col span="1" width="290" />
<col span="1" width="220" />
</colgroup>
<tbody>
<tr>
<th nowrap="nowrap" class="alignT"><a href="./images/contents/163/48oyamada.pdf" target="_blank">第48回</a></th>
<td nowrap="nowrap">平成25年度</td>
<td>小型・軽量アルミ熱交換器用低Siろう犠材チューブの開発</td>
<td>株式会社デンソー<br />
　杉浦慎也・手島聖英・根倉健二・</br>
　大河内隆樹・長谷川恵津夫<br />
株式会社UACJ<br />
　渥美哲郎・田中宏和・久富裕二</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="./images/contents/163/47oyamada.pdf" target="_blank">第47回</a></th>
<td nowrap="nowrap">平成24年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/63/3/63_118/_article/-char/ja/" target="_blank">ノンクロム下地Super-Ecoat®を用いたアルミニウムボトル缶キャップの実用化</a></td>
<td>三菱アルミニウム株式会社<br />
　山口恵太郎・山本正博<br />
ユニバーサル製缶株式会社<br />
　井田宗孝・花房泰浩・武藤英泰</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="./images/contents/163/46oyamada.pdf" target="_blank">第46回</a></th>
<td nowrap="nowrap">平成23年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/62/3/62_115/_article/-char/ja/" target="_blank">超低抵抗値を有する電極用複合材料「トーヤルカーボ®」の開発</a></td>
<td>東洋アルミニウム株式会社<br />
　呂　明哲・井上英俊・多田裕志・<br />　足高善也</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="./images/contents/163/45oyamada.pdf" target="_blank">第45回</a></th>
<td nowrap="nowrap">平成22年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/61/3/61_3_119/_article/-char/ja/" target="_blank">新型プリウスに搭載されたアルミニウム製パワー半導体用冷却器の開発</a></td>
<td>株式会社豊田自動織機<br />
　森　昌吾・藤　敬司<br />
昭和電工株式会社<br />
　柳本　茂・古川裕一</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/44oyamada.pdf" target="_blank">第44回</a></th>
<td nowrap="nowrap">平成21年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/60/2/60_2_93/_article/-char/ja/" target="_blank">アルミ耐震補強工法の開発と実用化</a></td>
<td>株式会社住軽日軽エンジニアリング<br />
　檜山裕二郎・大久保昌治</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/43oyamada.pdf" target="_blank">第43回</a></th>
<td nowrap="nowrap">平成20年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/59/3/59_3_148/_article/-char/ja/" target="_blank">高真空アルミダイカスト部品を採用した“NISSAN GT-R”のマルチマテリアルボディ開発</a></td>
<td>日産自動車株式会社<br />
　金指　研・田代政巳・鈴木信男・<br />　松本　茂・勝倉誠人・板倉浩二</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/42oyamada.pdf" target="_blank">第42回</a></th>
<td nowrap="nowrap">平成19年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/58/3/58_3_117/_article/-char/ja/" target="_blank">半導体製造装置・薄型ディスプレー製造装置用基板ホルダーの製造法開発</td>
<td>古河スカイ株式会社</a><br />
　渡邊克己・福地　昭・大内昌男・<br />　川田　徹</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/41oyamada.pdf" target="_blank">第41回</a></th>
<td nowrap="nowrap">平成18年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/57/3/57_3_131/_article/-char/ja/" target="_blank">ダイカスト法を用いた高強度ピストンの開発</a></td>
<td align="left">株式会社本田技術研究所<br />
　谷畑昭人・佐藤奈緒子・勝俣耕二・<br />
　白石　隆<br />
日本軽金属株式会社<br />
　織田和宏<br />
本田金属技術株式会社<br />
　遠藤　修</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/17oyamada.htm" target="_blank">第40回</a></th>
<td nowrap="nowrap">平成17年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/56/4/56_4_233/_article/-char/ja/" target="_blank">多様な機能を有する二輪車用アルミニウムフレームの開発</a></td>
<td align="left">ヤマハ発動機株式会社<br />
　山縣　裕・小池俊勝・橘内　透</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/16oyamada.htm" target="_blank">第39回</a></th>
<td nowrap="nowrap">平成16年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/55/3/55_3_147/_article/-char/ja/" target="_blank">大量生産車用アルミニウム部品低コスト化技術の開発</a></td>
<td align="left">株式会社本田技術研究所<br />
　福地文亮・林　　登・小川　努<br />
ホンダエンジニアリング株式会社<br />
　横山　鎮・堀　　出</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="data/prize/15oyamada.htm" target="_blank">第38回</a></th>
<td nowrap="nowrap">平成15年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/54/3/54_3_117/_article/-char/ja/" target="_blank">新型マルチリンクサスペンションにおけるアルミニウム材料適用開発</a></td>
<td align="left">日産自動車(株)<br />
　高木　 潔・今野善裕・<br />
　松本健一・竹岡典弘</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第37回</th>
<td nowrap="nowrap">平成14年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/53/2/53_2_76/_article/-char/ja/" target="_blank">急冷凝固粉末押出材による高性能シリンダライナの開発</a></td>
<td align="left">ヤマハ発動機(株)<br />
　安達修平<br />
日本軽金属(株)<br />
　井上　厚・岡庭　茂<br />
東洋アルミニウム(株)<br />
　楠井　潤</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第36回</th>
<td nowrap="nowrap">平成13年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/52/2/52_2_82/_article/-char/ja/" target="_blank">リシール機能を有したアルミ飲料缶の開発と実用化</a></td>
<td align="left">大和製罐(株)<br />
　伊藤哲夫・辻本和弘・大越俊幸</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第35回</th>
<td nowrap="nowrap">平成12年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/51/2/51_2_125/_article/-char/ja/" target="_blank">長尺大物アルミニウム鋳造部品としての自動車用クロスメンバーの開発</a></td>
<td align="left">旭テック(株)<br />
　山田　徹・松本政治・<br />
　杉山浩行・藤野昌和</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第34回</th>
<td nowrap="nowrap">平成11年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/50/3/50_3_121/_article/-char/ja/" target="_blank">自動車用アルミハイブリッドボディの開発</a></td>
<td align="left">(株)本田技術研究所<br />
　佐藤正和・斉藤政昭・安永晋拓<br />
ホンダエンジニアリング(株)<br />
　木山　啓・井手籠隆</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第33回</th>
<td nowrap="nowrap">平成10年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/49/4/49_4_178/_article/-char/ja/" target="_blank">鍛造法による高機能エンジンピストンの量産化</a></td>
<td align="left">ヤマハ発動機(株)<br />
　山縣　裕・小池俊勝</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第32回</th>
<td nowrap="nowrap">平成9年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/48/2/48_2_103/_article/-char/ja/" target="_blank">鋳造鍛造プロセスによるアルミニウムロードホイールの実用化</a></td>
<td align="left">日産自動車(株)<br />
　榊　和夫・吉岡英夫・<br />
　神戸洋史・三部隆宏<br />
日本軽金属(株)<br />
　北岡山治<br />
(株)神戸製鋼所<br />
　藤井拓也</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第31回</th>
<td nowrap="nowrap">平成8年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/47/2/47_2_114/_article/-char/ja/" target="_blank">熱間鍛造法によるアルミニウム合金製スクロールの製造技術</a></td>
<td align="left">日本軽金属(株)<br />
　神尾　一・山田　達・勝又澄男・<br />
　細野洋司・鈴木　稔</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第30回</th>
<td nowrap="nowrap">平成7年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/46/2/46_2_89/_article/-char/ja/" target="_blank">オートバイフロントフォーク用高力アルミニウム合金管の開発と実用化</a></td>
<td align="left">住友軽金属工業(株)<br />
　吉田英雄・毛利英一<br />
カヤバ工業(株)<br />
　日比野壮美・岡島賢三<br />
(株)ショーワ<br />
　伊藤日出国・塚本鎮正</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第29回</th>
<td nowrap="nowrap">平成6年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/45/4/45_4_214/_article/-char/ja/" target="_blank">チューブタイプのエアインテークマニホールド（ＡＩＭ）の開発と実用化</a></td>
<td align="left">昭和アルミニウム(株)<br />
　鋤本　己信・大塚達雄・松崎光治・<br />
　秋好　釣</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第28回</th>
<td nowrap="nowrap">平成5年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/44/4/44_4_246/_article/-char/ja/" target="_blank">高強度アルミニウム合金製ラジエータの開発と実用化</a></td>
<td align="left">日本電装(株)<br />
　伊東章郎・岩井克夫・長良敏夫<br />
(株)神戸製鋼所<br />
　宮木美光・藤本日出男<br />
神鋼アルコア輸送機材(株)<br />
　滝川　淳</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第27回</th>
<td nowrap="nowrap">平成4年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/43/3/43_3_171/_article/-char/ja/" target="_blank">真空ろう付技術による大型高圧熱交換器の開発と実用化</a></td>
<td align="left">住友精密工業(株)　<br />
　三井浩次郎・安孫子哲男・上田文生<br />
住友軽金属工業(株)<br />
　難波圭三</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第26回</th>
<td nowrap="nowrap">平成3年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/42/3/42_3_168/_article/-char/ja/" target="_blank">パワーステアリング用耐圧、耐摩耗アルミニウム鍛造部品の開発と実用化</a></td>
<td align="left">日産自動車(株)<br />
　小島久義・羽室　憲・上野完治<br />
日本軽金属(株)<br />
　神尾　一<br />
昭和電工(株)<br />
　伊藤忠直</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap" class="alignT">第25回</th>
<td rowspan="2" nowrap="nowrap">平成2年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/41/4/41_4_276/_article/-char/ja/" target="_blank">《特別賞》オールアルミニウムボディ車“ＮＳＸ”の開発と実用化</a></td>
<td align="left">(株)本田技術研究所<br />
　小松泰典・伊東孝紳・新井虎雄・<br />
　村岡康雄・阿部春樹<br />
本田技研工業(株)<br />
　山下幸洋<br /></td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/41/2/41_2_126/_article/-char/ja/" target="_blank">バンパーリィンホースメントを中心とした難加工性アルミニウム押出材の乗用車部品開発</a></td>
<td align="left">アイシン軽金属(株)<br />
　山口裕二・磯貝光之・村上　哲</td>
</tr>

<tr>
<th nowrap="nowrap" class="alignT">第24回</th>
<td nowrap="nowrap">平成元年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/40/4/40_4_312/_article/-char/ja/" target="_blank">カーエアコンコンプレサ用アルミニウム合金製鍛造ピストンの開発</a></td>
<td align="left">(株)豊田自動織機製作所<br />
　中山尚三・倉橋正幸・竹中健二</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第23回</th>
<td nowrap="nowrap">昭和63年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/39/6/39_6_460/_article/-char/ja/" target="_blank">マルチグレインPS版の開発と実用化</a></td>
<td align="left">富士写真フィルム(株)<br />
　大村　力・榊　博和<br />
日本軽金属(株)・(株)日軽技研<br />
　河村　敏孝</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第22回</th>
<td nowrap="nowrap">昭和62年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/38/5/38_5_287/_article/-char/ja/" target="_blank">2輪車用ハイブリッド・フレームボディの開発と実用化</a></td>
<td align="left">(株)本田技術研究所<br />
　藤崎　優・高崎憲政・小屋栄太郎<br />
本田技研工業(株)<br />
　 望月信介・大渡健正</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第21回</th>
<td nowrap="nowrap">昭和61年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/37/4/37_4_306/_article/-char/ja/" target="_blank">陽極酸化建材の電解着色法ユニコールの開発と実用化</a></td>
<td align="left">(株)日軽技研<br />
　吉田幸一・宮下輝雄・佐野　弘<br />
日本軽金属(株)<br />
　田中義朗・河村昌彦・入谷　隆</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第20回</th>
<td nowrap="nowrap">昭和60年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/36/2/36_2_105/_article/-char/ja/" target="_blank">スクイズ併用ダイカスト鋳造法の開発と実用化</a></td>
<td align="left">日本電装(株)<br />
　杉浦恒之・泉錦　迪・鈴木治男</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第19回</th>
<td nowrap="nowrap">昭和59年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/35/2/35_2_112/_article/-char/ja/" target="_blank">気体加圧式ホットトップ鋳造法の開発とその普及</a></td>
<td align="left">昭和軽金属(株)<br />
　友弘一郎・高橋靖弘・三田村良太</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第18回</th>
<td nowrap="nowrap">昭和58年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/34/3/34_3_198/_article/-char/ja/" target="_blank">アルミニウム合金製自動車用2ピースホイールの開発と工業化</a></td>
<td align="left">トピー工業(株)<br />
　吉廣一秀・泉谷正隆<br />
中央精機(株)<br />
　藤原昭二・青木紀行・岩元鉄雄・<br />
　前田嘉弘・村井　清</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第17回</th>
<td nowrap="nowrap">昭和57年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/33/3/33_3_157/_article/-char/ja/" target="_blank">耐食性に優れたカーエアコンの開発</a></td>
<td align="left">日本電装(株)<br />
　石丸典生・三浦達夫</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第16回</th>
<td nowrap="nowrap">昭和56年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/32/3/32_3_150/_article/-char/ja/" target="_blank">アルミニウム合金薄板構造物の溶接変形防止法（SS,SH,,SSH法）の開発</a></td>
<td align="left">川崎重工業(株)<br />
　松井繁朋</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第15回</th>
<td nowrap="nowrap">昭和55年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/31/2/31_2_129/_article/-char/ja/" target="_blank">アルミニウム形材によるトラック荷台用あおりの開発</a></td>
<td align="left">日本軽金属(株)<br />
　仲出川泰之・谷　和夫・中田武士</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第14回</th>
<td nowrap="nowrap">昭和54年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/30/2/30_2_106/_article/-char/ja/" target="_blank">アルミニウム製生ビール樽および生ビール注出器の開発</a></td>
<td align="left">日本軽金属(株)<br />
　向山茂樹・難波一也<br />
武内プレス工業(株)<br />
　藤森彦一郎</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第13回</th>
<td nowrap="nowrap">昭和53年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/29/1/29_1_33/_article/-char/ja/" target="_blank">タイル打込み用アルミ製型枠(パネラールTAF)工法の開発</a></td>
<td align="left">(株)竹中工務店<br />
　 小早川洋太郎<br />
古河アルミニウム工業(株)<br />
　吉田弘司<br />
朝日機材(株)<br />
　羽部富夫</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第12回</th>
<td nowrap="nowrap">昭和52年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/28/2/28_2_98/_article/-char/ja/" target="_blank">低圧鋳造技術の開発と応用</a></td>
<td align="left">(株)東京軽合金製作所<br />
　岩波　司・藤田雅人・臼井弘武・<br />
　下瀬年男</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第11回</th>
<td nowrap="nowrap">昭和51年度</td>
<td>ニッケルレスピストン用アルミニウム合金の開発と実用化</td>
<td align="left">トヨタ自動車工業(株)<br />
　新美　格・金子泰久・小宮山芳郎<br />
アイシン精機(株)<br />
　三室清輝・小川　鈞</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第10回</th>
<td nowrap="nowrap">昭和50年度</td>
<td>特殊妨食法によるロールボンドを中心とした全アルミニウム製熱交換器の開発</td>
<td align="left">昭和アルミニウム(株)<br />
　浅野祐一郎・金井富義</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第9回</th>
<td nowrap="nowrap">昭和49年度</td>
<td><a href="https://www.jstage.jst.go.jp/article/jilm1951/25/2/25_2_70/_article/-char/ja/" target="_blank">新しいAl-Zn-Mg系三元合金の研究開発</a></td>
<td align="left">住友軽金属工業(株)<br />
　馬場義雄・福井利安・高島　章</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第8回</th>
<td nowrap="nowrap">昭和48年度</td>
<td>60％導電率耐熱アルミニウム合金による大容量架空送電用導体の開発</td>
<td align="left">住友電気工業(株)<br />
　松田好夫・横田　稔・山内一寿</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第7回</th>
<td nowrap="nowrap">昭和47年度</td>
<td>アルミニウム合金スクイズキャスティング法の実用化</td>
<td align="left">ワシアルミ(株)<br />
　鍛治祐一<br />
名古屋工業技術試験所<br />
　鈴木鎮夫<br />
(株)日本軽金属総合研究所<br />
　磯部俊夫</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第6回</th>
<td nowrap="nowrap">昭和46年度</td>
<td>超低温用構造物におけるアルミニウム合金厚板溶接技術の開発研究</td>
<td align="left">石川島播磨重工業(株)<br />
　蓑田和之</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第5回</th>
<td nowrap="nowrap">昭和45年度</td>
<td>アルミニウムと鉄の融着技術を応用した2サイクルエンジン用アルミニウム・シリンダーの量産化</td>
<td align="left">(株)東京軽合金製作所<br />
　小松二郎</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第4回</th>
<td nowrap="nowrap">昭和44年度</td>
<td>鉄道車両構体の全軽金属化における構造設計および工作技術の確立</td>
<td align="left">川崎重工業(株)<br />
　志満敬二</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第3回</th>
<td nowrap="nowrap">昭和43年度</td>
<td>アルミニウム合金鋳物建築用内外装材（アルキャスト）の製造技術</td>
<td align="left">久保田鉄工(株)<br />
　米田健三</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第2回</th>
<td nowrap="nowrap">昭和42年度</td>
<td>ダイカスト法による自動車フレームの製造方法</td>
<td align="left">ブリヂストンサイクル工業(株)<br />
　今川為一</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT">第1回</th>
<td nowrap="nowrap">昭和41年度</td>
<td>アルミニウムエンジンの開発</td>
<td align="left">東洋工業(株)<br />
　遠藤浩司・後藤静夫</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>