<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属論文新人賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）本賞は軽金属に関する学術または技術の進歩発展に寄与する優れた論文を発表した30才以下の若手研究者に贈る。 <br />
2）前項の論文は軽金属学会誌「軽金属」および本会を経てオリジナル論文として共同刊行誌「Materials Transactions」に掲載されたものに限る。 </p>
<h4>2.応募推薦方法 </h4>
<p>一般公募は行わず、軽金属論文新人賞推薦委員会にて受賞候補者の推薦を行い、軽金属論文新人賞選考委員会に提出する。 </p>
<h4>3.受賞者一覧 </h4>
<p>※これらの論文は<a href="http://www.jstage.jst.go.jp/browse/jilm/-char/ja" target="_blank">J-STAGE</a>にて閲覧可能です（Mater.Trans.掲載論文除く）</p>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<colgroup>
<col span="1" width="90" />
<col span="1" width="400" />
<col span="1" width="150" />
</colgroup>
<tbody>
<tr>
<th rowspan="2" nowrap="nowrap"><a href="./images/contents/163/25ronbunsinjin.pdf" target="_blank">平成25年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/63/5/63_188/_article/-char/ja/" target="_blank">アルミニウム合金のせん断帯における3D/4D破壊力学的評価</a></td>
<td>清水一行</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/63/5/63_175/_article/-char/ja/" target="_blank">Al–Mg–Si系合金の腐食に及ぼす塩化物水溶液中のカチオン種の影響</a></td>
<td>藤村涼子</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap"><a href="./images/contents/163/24ronbunsinjin.pdf" target="_blank">平成24年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/61/9/61_9_446/_article/-char/ja/" target="_blank">半溶融および半凝固状態のAl–Mg系合金の力学特性の比較</a></td>
<td>座間淳志</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/62/1/62_1_7/_article/-char/ja/" target="_blank">異方性降伏関数を用いたアルミニウム合金板の液圧バルジ成形シミュレーションと実験検証</a></td>
<td>彌永大作</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/23ronbunsinjin.pdf" target="_blank">平成23年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/61/4/61_4_135/_article/-char/ja/">その場観察によるアルミニウム合金の固液共存温度域における力学的特性の取得</a></td>
<td>千葉浩行</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/52/5/52_L-MZ201121/_article/-char/ja/">Effects of Cu Addition on Behavior of Nanoclusters during Multi-Step Aging in
Al–Mg–Si Alloys</a></td>
<td>金　在皇</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/51/10/51_L-M2010818/_article">Formation of Internal Crack in High-Speed Twin-Roll Cast 6022 Aluminum Alloy
Strip</a></td>
<td>金　民錫</td>
</tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/22ronbunsinjin.pdf" target="_blank">平成22年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/59/12/59_12_659/_article/-char/ja/">メカニカルミリング法と放電プラズマ焼結法による高強度純チタンの作製とその特性</a></td>
<td>大野卓哉</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/51/4/51_L-MG200951/_article/-char/ja/">Influence of Crystal Orientations on the Bendability of an Al-Mg-Si Alloy</a></td>
<td>竹田博貴</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/60/4/60_4_164/_article/-char/ja/">過剰にMgを含むAl-Mg2Si合金の時効析出過程に対するCuまたはAg添加の影響</a></td>
<td>中村純也</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/21ronbunsinjin.pdf" target="_blank">平成21年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/49/10/49_L-MRA2008830/_article">Mechanical Properties of Newly Developed Age Hardenable Mg-3.2 mol%Gd-0.5 mol%Zn Casting Alloy</a></td>
<td>尾崎智道</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/58/12/58_12_644/_article/-char/ja/">実用6000系アルミニウム合金中のマグネシウムとけい素の完全固溶温度</a></td>
<td>中村貴彦</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/59/5/59_5_229/_article/-char/ja/">自動車熱交換器用犠牲陽極フィン材の強度および耐食性に及ぼすSi、Cu添加の影響</a></td>
<td>吉野路英</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/20ronbunsinjin.pdf" target="_blank">平成20年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/48/8/48_L-MRA2007875/_article">Deformation and Texture Evolution during High-Speed Rolling of AZ31 Magnesium Sheets</a></td>
<td>康 弘徹</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/57/11/57_11_542/_article/-char/ja/">非直線摩擦攪拌接合の施工条件最適化</a></td>
<td>高原裕典</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/57/11/57_11_536/_article/-char/ja/">アルミニウム合金/鋼摩擦攪拌重ね合せ接合界面における層状組織の生成</a></td>
<td>渡邉満洋</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/19ronbunsinjin.pdf" target="_blank">平成19年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/56/10/56_10_533/_article/-char/ja/">摩擦攪拌接合の流動現象の動的観察</a></td>
<td>東山実樹</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/56/11/56_11_644/_article/-char/ja/">Al-Zn-Mg（-Ag）合金の耐力および伸びに及ぼす粒界近傍の析出組織の影響</a></td>
<td>小椋　智</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/57/1/57_1_19/_article/-char/ja/">CrまたはZrを含有するAl-Zn-Mg-Cu系合金の大気環境脆化</a></td>
<td>安藤　誠</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/18ronbunsinjin.pdf" target="_blank">平成18年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/55/12/55_12_654/_article/-char/ja/">等軸および針状組織を有する高加工性チタン合金のミクロ組織とフレッティング疲労特性</a></td>
<td>武田淳仁</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/56/2/56_2_100/_article/-char/ja/">Al-Sc-Zr合金におけるAl3(Sc,Zr) 複合析出粒子のSTEM-EDS解析</a></td>
<td>岩村信吾</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/47/4/47_4_959/_article">Microstructure and Mechanical Properties of Extruded Mg-Zn-Y Alloys with 14H Long Period Ordered Structure</a></td>
<td>吉本慎太郎</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成17年度</th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/54/11/54_11_527/_article/-char/ja/">マグネシウム合金の降温中多軸鍛造による微細粒組織の生成</td>
<td>邢 劼</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/55/4/55_4_159/_article/-char/ja/">AC4CHアルミニウム合金鋳物の高温溶体化処理による機械的性質の改善</a></td>
<td>入之内豊</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/55/4/55_4_169/_article/-char/ja/">Al-Mg-Sc合金におけるAl3Sc粒子のオストワルド成長</a></td>
<td>渡部大然</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成16年度</th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/53/12/53_12_575/_article/-char/ja/">水素マイクロプリント法によるAl–Mg系合金中の水素の挙動解析</a></td>
<td>伊原智章</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/54/2/54_2_51/_article/-char/ja/">高速フーリエ変換法を用いたセレーションの評価</td>
<td>古田昌伸</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/45/5/45_5_1687/_article">Influence of Purity on the Formation of Cube Texture in Aluminum Foils for Electrolytic Capacitors</a></td>
<td>高田尚記</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成15年度</th>
<td><a href="https://www.jstage.jst.go.jp/article/matertrans/43/7/43_7_1647/_article">Three Regions of Dislocation Creep in In Situ TiB Fiber-Reinforced α-Titanium Matrix Composite</a></td>
<td>川端健詞</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/52/11/52_11_547/_article/-char/ja/">電解コンデンサ用アルミニウム箔材におけるMCシミュレーションによる粒界移動予測</a></td>
<td>小林正和</td>
</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/53/3/53_3_114/_article/-char/ja/">6000系アルミニウム合金の高温延性</a></td>
<td>伊藤　勉</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成14年度</th>
<td>ECAE加工したMg–Li–Zn合金の引張特性および低温超塑性の発現</td>
<td>吉田　雄</td>
</tr>
<tr>
<td>AZ91マグネシウム合金の過熱処理による結晶粒微細化機構</td>
<td>矢野英次</td>
</tr>
<tr>
<td>Al-Cu合金の相分解初期における微量添加元素の挙動とその計算機シミュレーション</td>
<td>廣瀬清滋</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成13年度</th>
<td>二段階電解法により作製したチタン陽極酸化皮膜の光触媒活性</td>
<td>倉木　淳</td>
</tr>
<tr>
<td>電解コンデンサ用高純度アルミニウム箔の立方体集合組織形成過程のEBSP法による解析</td>
<td>池田賢一</td>
</tr>
<tr>
<td>Al–Mg–Si系合金におけるクラスタ形成と二段時効挙動</td>
<td>山田健太郎</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成12年度</th>
<td>急冷凝固法によるAl–6～8%Mn–1～3%Cr合金の組織と性質</td>
<td>木村典史</td>
</tr>
<tr>
<td>空調用熱交換器のフィンピッチ乱れに及ぼすフィン材特性の影響</td>
<td>城戸孝聡</td>
</tr>
<tr>
<td>常温圧接により作製した積層Al/Tiフレーク複合材の曲げ特性に及ぼす初期箔形状の影響</td>
<td>奥村善雄</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成11年度</th>
<td>Al–5%Mg合金中の極微量ナトリウムの起源およびその高温延性に及ぼす影響</td>
<td>堀川敬太郎</td>
</tr>
<tr>
<td>Al–Li合金のδ′相析出に及ぼすCuおよびMg微量添加の影響の計算機シミュレーション</td>
<td>横田純一</td>
</tr>
<tr>
<td>Al–Li系合金の破壊挙動に及ぼす介在物の影響のSEM内その場観察</td>
<td>高橋明宏</td>
</tr><tr>
<th rowspan="3" nowrap="nowrap">平成10年度</th>
<td>Mg–Zr母合金によるマグネシウムの結晶粒微細化</td>
<td>田村洋介</td>
</tr>
<tr>
<td>Mg–Li–Al–Ca系合金の半溶融成形加工</td>
<td>Ramesh Chandran</td>
</tr>
<tr>
<td>Al18B4O33W/Al複合材料とアルミニウムの積層材料の衝撃特性に及ぼす積層構造の影響</td>
<td>李 常馝</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成9年度</th>
<td>アルミニウム合金急冷凝固粉末を溶射した6063アルミニウム合金押出材のNd-YAGレーザによる表面改質</td>
<td>小久保貞夫</td>
</tr>
<tr>
<td>急冷凝固Mg-Y基合金の組織と機械的性質</td>
<td>塙　悟史</td>
</tr>
<tr>
<td>チタンのプラズマ浸炭窒化による硬質Ti(C,N)層の作製</td>
<td>佐藤貴康</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">平成8年度</th>
<td>メカニカルアロイング法により作製したアルミニウム合金の内部摩擦</td>
<td>原顕一郎</td>
</tr>
<tr>
<td>5052-H34アルミニウム合金板の3％NaCl水溶液中における疲労き裂伝播特性に及ぼす表面欠陥の影響</td>
<td>佐藤隆之介</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">平成7年度</th>
<td>金属間化合物Ti3Al-Nbの力学的特性に及ぼすミクロ組織の影響</td>
<td>岩井昌彦</td>
</tr>
<tr>
<td>自発的浸透による粒子強化型マグネシウム複合材料の作製と浸透プロセス解析</td>
<td>金田裕光</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">平成6年度</th>
<td>加圧成形したAZ91Dマグネシウム合金の組織、流動性および機械的性質</td>
<td>由浅　明</td>
</tr>
<tr>
<td>アルカリ溶液中における5083アルミニウム合金の腐食速度と圧延残留応力との関係</td>
<td>黒田　周</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成5年度</th>
<td>アルミニウム箔のトンネルエッチングに及ぼす硫酸の影響</td>
<td>日比野淳</td>
</tr>
<tr>
<td>SiCp/Al-Ti合金溶湯間反応によったSitu TiCp/アルミニウム複合材料の製造と機械的性質</td>
<td>中田博道</td>
</tr>
<tr>
<td>SiCw/Al-Li-Cu合金複合材料の時効硬化挙動</td>
<td>洪　性吉</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
