<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属論文賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）本賞は軽金属に関する学術または工業の進歩発展に寄与する優れた論文を発表した者に贈る。 <br />
2）前項の論文は軽金属学会誌「軽金属」および本会を経てオリジナル論文として共同刊行誌「Materials Transactions」に掲載されたものに限る。 </p>
<h4>2.応募推薦方法 </h4>
<p>一般公募は行わず、軽金属論文賞推薦委員会にて受賞候補論文の推薦を行い、軽金属論文賞選考委員会に提出する。 </p>
<h4>3.受賞者一覧 </h4>
<p>※これらの論文は<a href="http://www.jstage.jst.go.jp/browse/jilm/-char/ja" target="_blank">J-STAGE</a>にて閲覧可能です（Mater.Trans.掲載論文除く）</p>

<table border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th rowspan="8" nowrap="nowrap">昭和28年度</th>
<td>一次アルミニウム地金中のガス孔量について</td>
<td>片岡　幸明・磯部　俊夫・<br />
上島　敬三</td>
</tr>
<tr>
<td>アルミ板の圧延条件と深絞り耳との関係について</td>
<td>麻田　宏・田中　英八郎・<br />
小池　吉蔵</td>
</tr>
<tr>
<td>圧延したアルミニウム板の表面模様について　　</td>
<td>小林　藤次郎・浜田　和夫</td>
</tr>
<tr>
<td>ダイカストと金型鋳物の研究</td>
<td>菅野　友信・植原　寅蔵</td>
</tr>
<tr>
<td>アルミ陽極酸化皮膜に及ぼす加工条件の影響</td>
<td>国本　隆・池田　栄三</td>
</tr>
<tr>
<td>アルマイトの染色性および光沢度に関する研究</td>
<td>西邑　弘</td>
</tr>
<tr>
<td>生研試作アルミ艇について</td>
<td>山県　昌夫・元良　誠三・<br />
安藤　良夫</td>
</tr>
<tr>
<td>軽金属組立家屋（Ｖ型）の試作<br />
　建築用軽金属の標準仕様<br />
　建築用軽金属の標準寸法<br />
　軽金属の標準装着法</td>
<td>星野　昌一</td>
</tr>
<tr>
<th rowspan="4" nowrap="nowrap">昭和29年度</th>
<td>アルミニウムスラブの鋳造組織の研究（第1報、第2報）</td>
<td>川島 浪夫・中村　雄造・<br />
佐藤　正雄</td>
</tr>
<tr>
<td>アルミニウム板のフクレの研究（第1報～第3報）</td>
<td>潮田　豊治,　吉村　修・<br />
増山章一郎</td>
</tr>
<tr>
<td>鋳物用アルミ-10%マグネシウム合金の研究（第1報～第3報）</td>
<td>加藤　正夫・中村　康治・<br />
柳沢　昇雄</td>
</tr>
<tr>
<td>副論文アルミマグネ合金の研究</td>
<td>小松　二郎</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和30年度</th>
<td>3Ｓ合金の再結晶微細化に関する研究（第1報～第5報）</td>
<td>清水　恭治・中谷　義三</td>
</tr>
<tr>
<td>押出しに関する研究（第1報～第4報）</td>
<td>森永　卓一・細井　吉一・<br />
湯川　守　</td>
</tr>
<tr>
<td>アルミニウムおよびその合金の迅速ガス定量法とその応用</td>
<td>塩田　信雄</td>
</tr>
<tr>
<th rowspan="4" nowrap="nowrap">昭和31年度</th>
<td>純アルミニウムの凝固に関する研究<br />
（第1報）純アルミニウムの凝固速度について<br />
（第2報）一方向に凝固した純アルミニウムの凝固組織<br />
（第3報）結晶粒の沈降について</td>
<td>中尾　善信</td>
</tr>
<tr>
<td>シルミンに及ぼす20種の添加元素の影響<br />
Al-Si-Cu系合金のモディフィケーションに関する研究<br />
過共晶Al-Si 合金に及ぼすPおよびNaの影響</td>
<td>津村　善重</td>
</tr>
<tr>
<td>ＡＮＰの溶接性について</td>
<td>山口　秀夫</td>
</tr>
<tr>
<td>アルミニウムブスバーの溶接性について<br />
アルミニウムおよびその合金の溶接材の腐食に関する研究</td>
<td>山本　純行・坂本　正一</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和32年度</th>
<td>アルミニウム圧延板の結晶粒度に関する研究<br />
（第1報）アルミニウム圧延板の結晶粒度について<br />
（第2報）アルミニウム圧延板の結晶粒度と機械的性質との関係について<br />
（第3報）結晶生長に及ぼす焼鈍条件および組成の影響について<br />
（第4報）結晶生長と加工歪、含有ガスとの関係について</td>
<td>池野　尚志</td>
</tr>
<tr>
<td>アルミニウム溶湯のホールディングによる脱ガスについて</td>
<td>下城　春雄・平岡　高弥・<br />
清水　栄三</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和33年度</th>
<td>Al-Mg3～5%展伸材の性能に及ぼすMn, Crの効果<br />
（第1報）板材の抗張性<br />
（第2報）板材の耐食性（その1）<br />
（第3報）板材の耐食性（その2）<br />
（第4報）押出型状について</td>
<td>河内　利平</td>
</tr>
<tr>
<td>電線用アルミニウム地金に関する研究<br />
（第2報）アルミニウム地金中の種々の配合金属が電導度および抗張力に及ぼす影響について</td>
<td>池田　謙吾・磯部　俊夫・<br />
花田　章</td>
</tr>
<tr>
<td>リン酸水溶液によるアルミニウムの振動電解研磨法<br />
（第1報）振動電解研磨の基礎的研究<br />
（第2報） 同　　　上<br />
（第3報） 同　　　上<br />
（第4報） 同　　　上<br />
（第5報） 同　　　上<br />
（第6報）不純物を含むアルミニウムの電解研磨<br />
（第7報） 同　　　上</td>
<td>中山　孝廉</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和34年度</th>
<td>ブドウ酒醸造工業におけるアルミニウムおよびその合金の利用について<br />
（第1報）二三の材料のブランデーに対する耐食性について<br />
（第2報）二三の材料のアルコールおよび酸溶液による腐食試験<br />
（第3報）二三の材料の白ブドウ酒に対する耐食性について<br />
（第4報）二三の材料のシェリー酒に対する耐食性について<br />
（第5報）二三の材料の赤ブドウ酒に対する耐食性について<br />
（第6報）二三のアルミニウム材料のブドウ酒類に対する耐食性の総括<br />
（第7報）重合リン酸添加によるブランデー中の1Ｓの防食効果について<br />
（第8報）表面処理の耐食効果についての予備実験<br />
（第9報）陽極処理被膜のブランデーに対する防食効果について<br />
（第10報）陽極処理被膜の白ブドウ酒に対する防食効果について<br />
（第11報）陽極処理被膜の赤ブドウ酒に対する防食効果について<br />
（第12報）二三の化学処理被膜の赤ブドウ酒に対する防食効果について</td>
<td>森永　卓一・財満　鎮雄・<br />
香賀美元男<br /></td>
</tr>
<tr>
<td>鋳物用特殊マグネシウム合金の研究（第1報）<br />
（第2報）マグネシウムとその合金の機械的性質に及ぼすＺｒの効果<br />
（第3報）鋳造性について<br />
（第4報）鋳物について</td>
<td>佃　　　誠</td>
</tr>
<tr>
<th nowrap="nowrap">昭和35年度</th>
<td>（該当論文なし）</td>
<td></td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和36年度</th>
<td>アルミニウム電解地金の汚染に関する研究<br />
（第1報）アルミニウム電解地金のホールディング過多と着色現象について<br />
（第2報）アルミニウム電解地金中のナトリウム、アルミニウムカーバイトおよびアルミナの挙動と着色現象との関係<br />
（第3報）アルミニウム電解地金中のアルミナのム挙動および不純物に対する溶剤処理の影響</td>
<td>竹本　実・好本　太郎・<br />
老田　久弥・柳田　清實</td>
</tr>
<tr>
<td>アルミニウムおよびその合金に及ぼすジルコニウムの効果<br />
（第1報）再結晶温度および機械的性質に及ぼす影響<br />
（第2報）アルミニウムの焼きなまし時間と結晶粒との関係およびジルコニウムの影響<br />
（第3報）ジルコニウムによるアルミニウムの再結晶温度上昇の機構<br />
（第4報）ZrAl3の析出現象およびAl-Zr合金の再結晶温度に及ぼすSi、Mgの機構<br />
（第5報）ジルコニウムによるアルミニウムの再結晶温度上昇効果に及ぼす不純物Mn, Fe, Cuの影響</td>
<td>山田　始</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和37年度</th>
<td>アルミニウム（合金）鋳塊に関する研究<br />
（第1報）割れと組成との関係について<br />
（第2報）結晶粒内の年輪状組織にいて<br />
（第3報）鋳造条件による連続鋳塊の組織の変化について<br />
（第4報）Ti添加の影響について<br />
（第5報）鋳造組織と加工の関係について</td>
<td>小林藤次郎,　大辻　久男</td>
</tr>
<tr>
<td>高周波誘導溶接法による溶接性に関する研究<br />
（第1報）締付圧力の影響<br />
（第2報）溶接電流および溶接速度の影響<br />
（第3報）添加元素の影響</td>
<td>岡村　俊一</td>
</tr>
<tr>
<td>アルミニウム中のガスに及ぼす少量元素の影響</td>
<td>室町　繁雄・峯岸　知弘・<br />
水島　輝夫</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和38年度</th>
<td>AlｰMgｰSi系合金の研究（第2報～第4報）</td>
<td>寺井　志郎・馬場　義雄</td>
</tr>
<tr>
<td>バイヤー法におけるソーダライト族化合物について（第2報、第3報）</td>
<td>清宮　滋・森　重敏</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和39年度</th>
<td>マグネシウムおよびマグネシウム合金に及ぼすベリリウムの影響（第1報～第4報）</td>
<td>久恒　中陽・萩原　務</td>
</tr>
<tr>
<td>アルミニウムのフクレに関する研究（第1報～第3報）</td>
<td>川島　浪夫・山田　始・<br />
佐藤　豊・横手　隆昌・上野　絋</td>
</tr>
<tr>
<td>Lo-ex の組織と諸特性</td>
<td>友弘　一郎・山本龍太郎・<br />
佐久間　洋・田多井　明</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和40年度</th>
<td>構造用Al-Zn-Mgの研究<br />
（第1報）Al-Zn-Mg系合金の時効性、2段時効性について　<br />
（第2報）押出し材の機能的性質について<br />
（第3報）溶接材の機械的性質について<br />
（第4報）耐食性に関する実験結果について</td>
<td>谷　郁郎・石川　裕</td>
</tr>
<tr>
<td>鋳造用アルミニウム合金の摩耗に関する研究<br />
（第1報）摩耗特性について<br />
（第2報）摩擦特性について</td>
<td>岡本　邦夫・中谷　義三・<br />
野谷　秀雄・川本　信<br /></td>
</tr>
<tr>
<td>63Sの押出し能に関する実験的解析</td>
<td>竹内　寛司,　小林　啓行・菊地　隆士</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和41年度</th>
<td>蒸気圧の高い成分を含む軽合金中のガス量測定法について</td>
<td>今林　守・富田　耕平・<br />
大内　正博・岩村　霽郎</td>
</tr>
<tr>
<td>Ⅱa 族酸化物を加えた溶融氷晶石について</td>
<td>松島　知夫・小野　健二</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和42年度</th>
<td>時効性Al-Mg-Mg合金の析出に及ぼす稠密六方構造元素の添加の影響</td>
<td>村上陽太郎,　影山　尚志</td>
</tr>
<tr>
<td>焼結アルミニウム合金の機械的性質に及ぼす酸化物粒子の不均一分散の影響</td>
<td>大日向一司・増田　良道・<br />
参木　貞彦</td>
</tr>
<tr>
<td>アルミニウム合金の金型鋳造時に発生するエアギャップに関する研究</td>
<td>伊藤　吉保・富永　芳勝・<br />
渡辺　靖朗</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和43年度</th>
<td>Al-Mg-Mg合金の切欠疲労強度について<br />
溶接構造用アルミニウム合金の疲労強度の研究（第3報）<br />
　アルミニウム合金の腐食疲労および長時間腐食後の疲労強度について<br />
溶接構造用アルミニウム合金の疲労強度の研究（第4報）</td>
<td>竹内　勝治・田中　栄司・<br />
福井　利安<br /></td>
</tr>
<tr>
<td>一方向凝固における凝固界面形態（Al-Si合金について）</td>
<td>大平　五郎・佐藤　有　</td>
</tr>
<tr>
<td>アルミニウム合金の切削温度について<br />
（第1報）アルミニウムと他の金属との切削温度比較<br />
（第2報）実用アルミニウム合金の切削温度</td>
<td>栗原　健助・菊地　庄作・<br />
江田　弘</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和44年度</th>
<td>アルミニウムおよびアルミニウム合金の生長双晶の研究（第1報、第2報）</td>
<td>松石　藤夫・渡辺修一郎・<br />
本間　梅夫・雄谷　重夫</td>
</tr>
<tr>
<td>アルミニウム合金における疲労亀裂伝播について</td>
<td>志村　宗昭・大日向一司</td>
</tr>
<tr>
<td>Al-Mg-Si系合金の二段時効に及ぼす合金組成の影響</td>
<td>馬場　義雄・高島　章</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和45年度</th>
<td>Al-Zn-Mg系合金の高温割れに及ぼすZnおよびTi＋B添加の影響について（第1報）</td>
<td>田中　孝一・吉田　晋</td>
</tr>
<tr>
<td>均質化熱処理によるAl-Mg-Si系合金鋳塊の熱間加工法の改善</td>
<td>堀内　良・金子　純一</td>
</tr>
<tr>
<td>Al-4%Cu-0.75%Mn 合金にみられる二段時効現象について</td>
<td>松尾　茂</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和46年度</th>
<td>Al-Mn合金の再結晶時における析出</td>
<td>長浜　勝介・高橋　正弘・<br />
三木　功</td>
</tr>
<tr>
<td>過飽和Al-Mn固溶体合金における相分解</td>
<td>D. Oelschlagel・河野　修・<br />
和泉　修</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和47年度</th>
<td>各種アルミニウム合金の板状引張試験片による伸び率について</td>
<td>佐藤　四郎</td>
</tr>
<tr>
<td>各種アルミニウム合金におけるベーマイトの生成および耐食性と合金成分の関係（ベーマイト処理法に関する研究　第5報）</td>
<td>山田　裕之・川村　知一・<br />
岡本　常義</td>
</tr>
<tr>
<td>Al-Zn合金の初期時効速度に及ぼす微量Ｍｇ添加の影響</td>
<td>鈴木　壽・菅野　幹宏・<br />
福永　和義</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和48年度</th>
<td>高温加熱時のAl-Fe-Si合金中の樅の木組織の挙動</td>
<td>小菅　張弓・水上　一郎</td>
</tr>
<tr>
<td>シャルピー衝撃試験法によるアルミニウム合金およびその溶接部の破壊靭性の評価について</td>
<td>小林　俊郎</td>
</tr>
<tr>
<td>6063合金押出材の黒斑発生に及ぼす冷却過程の影響</td>
<td>中川　弘昭・山口　敏通・<br />
小沢　秀雄</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和49年度</th>
<td>1100, 3003およびAl-4%Cu 合金の延性破壊について</td>
<td>後藤　正治・幸田　成康</td>
</tr>
<tr>
<td>一方向凝固させたAl-4%Cu 合金中のガス分布に関する研究</td>
<td>西　成基・黒淵　達史</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和50年度</th>
<td>加熱水処理したアルミニウム表面のポリエチレンとの接着性について</td>
<td>阿部　隆・相沢　浩司・<br />
内山　利光・礒山　永三</td>
</tr>
<tr>
<td>多相拡散層中の中間相の生長要因</td>
<td>船水　康宏・渡辺　勝也</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和51年度</th>
<td>Al-5%Mgおよび5083等軸粒合金の靭性に及ぼすβ相の影響</td>
<td>岡本　秀仁・浅野　和彦・<br />
藤原　明</td>
</tr>
<tr>
<td>マグネシウムの水素溶解度に及ぼす合金元素の影響</td>
<td>渡辺　哲男・立原 祥弘・<br />
黄　燕清・小松　龍造</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和52年度</th>
<td>多結晶マグネシウムの冷間加工性に及ぼすランタンおよびセリウム添加の影響</td>
<td>大森　梧郎</td>
</tr>
<tr>
<td>プレージングシートのろう付性の評価方法について</td>
<td>吉田　秀昭・竹内　庸</td>
</tr>
<tr>
<td>5083合金のひずみ電極反応と応力腐食割れ</td>
<td>大崎　修平・小島　陽・<br />
高橋　恒夫</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和53年度</th>
<td>Al-8%Mg合金への水素の浸透</td>
<td>大西　忠一・原　龍郎・<br />
中谷　義三</td>
</tr>
<tr>
<td>Al-Zn-Mg合金の押出性および押出材の性質に及ぼすけい素および均質化処理の影響</td>
<td>小菅　張弓・三木　功</td>
</tr>
<tr>
<td>アルミニウム合金の脱マグネシウム方法に関する研究</td>
<td>津村　善重・榊原　秋策・<br />
豊田勝三郎</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap">昭和54年度</th>
<td>5083合金の応力腐食割れに及ぼす環境因子の影響</td>
<td>後藤建次郎・清水　義彦・<br />
伊藤　伍郎</td>
</tr>
<tr>
<td>簡易熱解析法を用いた低圧力鋳造用金型設計</td>
<td>池田　準哉・戸澤　勝利・<br />
中村　元志・小川　均</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和55年度</th>
<td>電気抵抗測定によるアルミニウム中のけい素の固溶度およびAl-Si 合金におけるSi析出物粒子のオストワルド生長</td>
<td>藤川辰一郎・乃木　義則・<br />
平野　賢一</td>
</tr>
<tr>
<td>リング圧縮試験での摩擦せん断係数に及ぼす試験条件の影響</td>
<td>佃　　誠・高田　与男・<br />
尾崎　幸一</td>
</tr>
<tr>
<td>ギブサイト、ベーマイトおよびボーキサイト鉱石のカセイソーダ浸出速度</td>
<td>江島　辰彦・嶋影　和宣・<br />
我妻　和男</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和56年度</th>
<td>一方向凝固したAl-Cu 合金鋳塊の3次元的な結晶方位の制御</td>
<td>雄谷　重夫・須藤　亮・<br />
石井　洋</td>
</tr>
<tr>
<td>1050アルミニウム板の成形限界曲線</td>
<td>小原　嗣朗・勝田　基嗣・<br />
青木顯一郎</td>
</tr>
<tr>
<td>応力腐食割れき裂前方における先行ぜい化域の形成と消滅</td>
<td>東　健司・大西　忠一・<br />
中谷　義三・岡林　邦夫</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和57年度</th>
<td>ギブサイトの急速加熱による熱分解および脱水生成物の性質</td>
<td>山田　興一</td>
</tr>
<tr>
<td>アルミニウム薄板の深絞り容器に生じる耳の結晶学的解析</td>
<td>金武　直幸・戸澤　康壽・<br />
大谷　敏郎</td>
</tr>
<tr>
<td>アルミニウム鉄合金中の金属間化合物のアノード溶解</td>
<td>世利　修美・増子　昇</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和58年度</th>
<td>チタン添加アルミニウムの急冷凝固組織と結晶粒微細化に関する研究</td>
<td>堀　茂徳・田井　英男・<br />
成田　幸郎</td>
</tr>
<tr>
<td>3004系合金における高温加熱時の相変化</td>
<td>渡辺　英雄・大堀　絋一・<br />
竹内　庸</td>
</tr>
<tr>
<td>超微細粒組織をもつAl-Zn共析系超塑性合金の力学的特性</td>
<td>本橋　嘉信・柴田　孝夫・<br />
宮川　松男</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和59年度</th>
<td>アルミニウムの凝固界面近傍における気孔生成と生長機構</td>
<td>品田与志栄・上田　俶完・<br />
西　成基</td>
</tr>
<tr>
<td>3004系合金の巨大金属間化合物について</td>
<td>吉川　克之・坂本　敏正</td>
</tr>
<tr>
<td>アルミニウム合金の誘導放射能およびそれに及ぼす微量成分の影響</td>
<td>今野　収・藤川辰一郎・<br />
枡本　和義・八木　益男</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和60年度</th>
<td>氷晶石のアルミナの溶解挙動</td>
<td>野口　文男・中村　崇・<br />
植田　安昭・柳ケ瀬　勉</td>
</tr>
<tr>
<td>Al-Zn-Mg-Cu 系高力合金の破壊靭性に及ぼすFe含有量の影響とき裂進展過程</td>
<td>大平　貴規・岸　輝雄</td>
</tr>
<tr>
<td>2324、7475合金の高温変形</td>
<td>吉永日出男・戸上　義朗・<br />
栗下　裕明</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和61年度</th>
<td>アルミ熱延計算機制御用数式モデル</td>
<td>木村　絋</td>
</tr>
<tr>
<td>アルミニウムの孔食生長過程の電気化学的検討</td>
<td>当摩　建</td>
</tr>
<tr>
<td>7075合金Ｒ曲線によるじん性評価</td>
<td>新家　光雄・安達　真・<br />
小林　俊郎</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和62年度</th>
<td>凝固しつつあるAl-Cu 系およびAl-Si 系二元合金鋳物の破断挙動</td>
<td>大滝　光弘・小林　敬一・<br />
本間　梅夫・雄谷　重夫</td>
</tr>
<tr>
<td>Al-Mg 合金の凝固条件による羽毛状晶の生成</td>
<td>穴田　博・舟木　克之・<br />
中島　安治・沢武　尚直・多々　静夫</td>
</tr>
<tr>
<td>1050アルミニウム圧延板の焼鈍軟化特性に及ぼす中間焼鈍条件の影響</td>
<td>松尾　守・村松　俊樹・<br />
梶山　毅・小松　伸也・<br />
立松　一穂・村上陽太郎</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">昭和63年度</th>
<td>バリヤー型Alアノード酸化皮膜におけるγ'ｰアルミナの生長機構</td>
<td>小林　賢三・清水　健一・<br />
来間　泰則</td>
</tr>
<tr>
<td>アルミニウム熱間粗圧延の計算機制御用数式モデル</td>
<td>木村　絋</td>
</tr>
<tr>
<td>1100アルミニウム連続鋳造塊の均質化処理時の析出挙動</td>
<td>浅見　重則・土公　武宣</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成元年度</th>
<td>アルミニウム表面の酸化皮膜構造とガス放出特性</td>
<td>加藤　豊・礒山 永三・<br />
長谷川　実</td>
</tr>
<tr>
<td>静電的手法によって製造した一方向配向不連続繊維を含むアルミニウム合金複合材料</td>
<td>伊藤　友仁・平井　秀敏・<br />
磯村　連一</td>
</tr>
<tr>
<td>Al-Li-Cu-Mg-Zr合金の極低温における機械的性質</td>
<td>佐治　重興・山村　謙・<br />
古城　紀雄・堀　茂徳</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成2年度</th>
<td>走査電顕内その場観察法によるAlｰSi系過共晶合金の微小切削</td>
<td>花崎　伸作・峠　　睦・<br />
田ノ窪栄二・長谷川嘉雄</td>
</tr>
<tr>
<td>超塑性を利用した単層ＦＲＭの曲げ加工特性</td>
<td>西村　尚・伊藤　達也・<br />
山本　弘圀・若山　修一</td>
</tr>
<tr>
<td>不活性ガスバブリングによるアルミニウム溶湯の脱水素</td>
<td>大塚　良達・谷本　繁美・<br />
豊田　一雄・坂口　雅司</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成3年度</th>
<td>AlｰCu-ZrおよびAl-Li-Cu-Zr 合金におけるAl3Zr 粒子上への中間相の不均一析出</td>
<td>菅野 幹宏・欧　炳隆</td>
</tr>
<tr>
<td>3004系アルミニウム合金の時効効果に及ぼす中間焼鈍時のCuの析出・固溶の影響</td>
<td>照田　伸二・深田　和博・<br />
溝内　政文</td>
</tr>
<tr>
<td>ほう酸アルミニウムウィスカ／AC8Aおよび6061アルミニウム合金の界面反応</td>
<td>菅沼　克昭・佐々木　元・<br />
藤田　照昭・鈴木　信幸</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成4年度</th>
<td>7475アルミニウム合金の下部組織による超塑性特性の向上　</td>
<td>吉田　英雄</td>
</tr>
<tr>
<td>高力アルミニウム合金の応力腐食割れにおける水素脆性関与のモデル実験</td>
<td>大西　忠一　　　　　　　　</td>
</tr>
<tr>
<td>プロトン導電性セラミックスを用いた溶融アルミニウム中の水素濃度測定</td>
<td>矢嶋　保・岩原　弘育・<br />
武津　典彦・大橋 照男・<br />
小出 邦博</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成5年度</th>
<td>水素を用いた化学熱処理によるα＋β型チタン合金のミクロ組織制御と強靭性</td>
<td>宮　　波・新家 光雄・<br />
小林 俊郎・大薮　行俊</td>
</tr>
<tr>
<td>溶融塩化物を用いたAl-Li合金の電解製造における電極挙動</td>
<td>佐藤　譲・斎藤　栄・<br />
荒池　栄一・鈴木　毅・<br />
山村　力　</td>
</tr>
<tr>
<td>弾塑性理論による中空円筒ダイカスト鋳物の離型力の評価</td>
<td>青山　俊三・杉谷 洋・<br />
坂本 勝美・梅村　晃由</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成6年度</th>
<td>アルミニウム多孔質アノード酸化皮膜の構造と溶解挙動の電子顕微鏡による検討</td>
<td>小野　幸子・増子　昇</td>
</tr>
<tr>
<td>Al-Li系合金精密鋳造用セラミック鋳型の開発</td>
<td>才川　清二・杉岡　茂・<br />
中井　清之・杉浦　泰夫・<br />
神尾　彰彦　</td>
</tr>
<tr>
<td>アルミニウム合金の高速鍛造における熱連成変形解析</td>
<td>金丸　信夫・津田　統</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成7年度</th>
<td>高純度アルミニウムにおける動的再結晶</td>
<td>山縣　裕</td>
</tr>
<tr>
<td>Mg-重希土類元素（Gd,Dy）-Nd系合金のMgリッチ側の状態図、時効特性および引張特性</td>
<td>根岸　祐司・西村　卓寛・<br />
桐生　雅夫・鎌土　重晴・<br />
小島　陽・二宮　隆二　</td>
</tr>
<tr>
<td>Al2O3/Al-Cu-Mg粒子複合材料の時効析出に及ぼすAl2O3複合率と粒子径の影響</td>
<td>池野　進・吉田　勝也・<br />
松田　健二・穴田　博・<br />
上谷　保裕・多々　静夫</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成8年度</th>
<td>Mg-Al系合金のクリープ変形挙動のθ法による評価</td>
<td>内田　博幸・新谷　智彦</td>
</tr>
<tr>
<td>マグネシウムへのマンガン系化成膜の作製とその耐食性</td>
<td>高谷　松文</td>
</tr>
<tr>
<td>Al-1.3%Li-5.5%Cu-0.13%Zr系合金におけるＴ1相の粒子析出に及ぼす微量添加元素および焼入れ条件の影響</td>
<td>廣澤　渉一・里　達雄・<br />
神尾　彰彦・小林　一徳・<br />
坂本　敏正</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成9年度</th>
<td>高温自己伝播反応によるＴｉＢ2粒子分散アルミニウム合金の合成</td>
<td>小橋　眞・塚原　広和・<br />
長　隆郎</td>
</tr>
<tr>
<td>アルマイトスラッジを原料とする射出成形対の作製条件の検討</td>
<td>福本 功・与那覇　勉</td>
</tr>
<tr>
<td>ヘッダを用いる電磁鋳造法によるアルミニウム合金鋳塊の表面品質の改良</td>
<td>蜷川　伸吾・細川　佳之・<br />
玉田　拡・福元　裕彦・<br />
吉川　克之・浅井　滋生</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成10年度</th>
<td>Al-17%Si-4.5%Cu-0.5%MgP/M合金の超塑性に及ぼす温度の影響</td>
<td>石原　知・近藤　幹夫</td>
</tr>
<tr>
<td>アルミニウム飲料缶の口絞り限界の簡易予測</td>
<td>正田　良治・藤原　昭文・<br />
竹内　久司　</td>
</tr>
<tr>
<td>Al-4.4%Mg合金スラブ内部ポロシティの観察およびその生成機構の検討</td>
<td>長海　博文・小松　健・<br />
植松　勝・萩沢　亘保・<br />
西川　泰久</td>
</tr>
<tr>
<th rowspan="3" align="left" nowrap="nowrap">平成11年度</th>
<td>Al-Si合金ろう材の電気化学的性質に及ぼすCuとZn展かの影響</td>
<td>黒田　周・当摩　建</td>
</tr>
<tr>
<td>純アルミニウム中におけるα-AlFeSi晶出相の球状化機構</td>
<td>本居　徹也・福岡　潔・<br />
吉田　英雄</td>
</tr>
<tr>
<td>6063アルミニウム合金押出材のピックアップ欠陥発生機構</td>
<td>箕田　正・早川　秀哉・<br />
吉田　英雄</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成12年度</th>
<td>アルミニウム合金ダイカストの表面偏析発生機構</td>
<td>村島　泉・石川　明・<br />
佐々木英人・西　直美</td>
</tr>
<tr>
<td>AZ91マグネシウム合金における過マンガン酸浴から作製した化成皮膜の構造と耐食性</td>
<td>梅原　博行・高谷　松文・<br />
小島　陽</td>
</tr>
<tr>
<td>Al-Si-Cu-Mg合金鋳物の疲労特性に及ぼす鋳造欠陥とFe系化合物の影響</td>
<td>黒木　康徳・田中　徹・<br />
里　達雄・神尾　彰彦</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap">平成13年度</th>
<td>電解コンデンサ用高純度アルミニウム箔の立方体集合組織形成過程のEBSP法による解析</td>
<td>池田　賢一・津曲兼一郎・<br />
吉田　冬樹・中島　英治・<br />
阿部　弘</td>
</tr>
<tr>
<td>6082アルミニウム合金溶接材の各部の破壊靭性</td>
<td>戸田　裕之・水谷　道・<br />
高橋　明宏・小林　俊郎・<br />
Mosneaga Victor ALEXANDRU</td>
</tr>
<tr>
<td>Al-Mg-Si系合金におけるクラスタ形成と二段時効挙動</td>
<td>山田健太郎・里　達雄・<br />
神尾　彰彦</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/14ronbun.pdf" target="_blank">平成14年度</a></th>
<td>AZ31マグネシウム合金の応力腐食割れ発生時の水素の挙動</td>
<td>倉本　繁・荒木一郎・<br />
菅野幹宏</td>
</tr>
<tr>
<td>ECAE加工したMg-Li-Zn合金の引張特性および低温超塑性の発現</td>
<td>吉田　雄・山田英明・鎌土重晴・小島　陽</td>
</tr>
<tr>
<td>温間異周速圧延による6061アルミニウム合金の結晶粒微細化</td>
<td>崔　祺・大堀紘一</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/15ronbunsyo.htm" target="_blank">平成15年度</a></th>
<td>水熱法を利用したアルミニウム板上への複合TiO2-ベーマイト皮膜の作製</td>
<td>藤野隆由・下門正貴・<br />
野口駿雄</td>
</tr>
<tr>
<td>アルミニウム鋳塊のバットカール現象に対する熱・非弾性シミュレーション</td>
<td>石川宣仁</td>
</tr>
<tr>
<td>Continuous Dynamic Recrystallization in a Superplastic　7075 Aluminum Alloy</td>
<td>楊　続躍・酒井　拓・<br />
三浦博己</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/16ronbunsyo.htm" target="_blank">平成16年度</a></th>
<td>水素マイクロプリント法によるAl-Mg系合金中の水素の挙動解析</td>
<td>伊原智章・伊藤吾朗</td>
</tr>
<tr>
<td>マグネシウムおよびアルミニウム軽合金におけるG.Pゾーン形成条件の電子論的検討</td>
<td>飛田守孝・高尾和男・<br />
榊原　精・竹元嘉利</td>
</tr>
<tr>
<td>電解コンデンサ用高純度アルミニウム箔の表面組織とエッチング挙動</td>
<td>川井正彦・山田和広・<br />
梅崎智典・小西　章・<br />
渡辺英雄・美浦康宏</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/17ronbunsyo.htm" target="_blank">平成17年度</a></th>
<td>工業用純アルミニウムにおけるFeの析出挙動のモデル化</td>
<td>梶原　桂・杉崎康昭・<br />
関　勇一</td>
</tr>
<tr>
<td>Change in Crystallographic Orientation Distribution during High Temperature Deformation in an Al-Mg-Mn Alloy Sheet Consisting of Coarse- and Fine- Grained Layers</td>
<td>高山善匡・春成英史・<br />
加藤　一</td>
</tr>
<tr>
<td>強加工in-situ複合材料技術を利用した金属切削粉のアップグレードリサイクル</td>
<td>戸田裕之・澤村純平・<br />
小林俊郎</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/18ronbun.pdf" target="_blank">平成18年度</a></th>
<td>真空ダイカストならびに高速ロールキャストしたアルミニウム合金の組織と引裂靭性</td>
<td>熊井真次・小林　慶・<br />
朱　洪・鈴木健太<br />
羽賀俊雄</td>
</tr>
<tr>
<td>Al-Mg-Si合金の疲労破壊に伴う水素集積の可視化</td>
<td>堀川敬太郎・竹内祐介・<br />
吉田憲一・小林秀敏</td>
</tr>
<tr>
<td>摩擦撹拌点接合によるアルミニウム合金板と鋼板の異種金属接合</td>
<td>田中晃二・熊谷正樹・<br />
吉田英雄</td>
</tr>
<tr>
<th rowspan="2" nowrap="nowrap"><a href="data/prize/19ronbun.pdf" target="_blank">平成19年度</a></th>
<td>Al-5%Mg-0.3%Sc合金における移動粒界とAl3Sc粒子の相互作用</td>
<td>伊原健太郎・大賀浩次・<br />
美浦康宏</td>
</tr>
<tr>
<td>Al-3%Mg-1%Cu合金の時効硬化およびナノ析出組織に及ぼすAg添加の影響</td>
<td>廣澤渉一・大村知也・<br />
里　達雄・鈴木義和</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/20ronbun.pdf" target="_blank">平成20年度</a></th>
<td>Crystallographic Orientation Distribution Control by Means of Continuous Cyclic Bending in a Pure Aluminum Sheet</td>
<td>高山善匡・内山雄二・<br />
荒川　剛・小林正和・<br />
加藤　一</td>
</tr>
<tr>
<td>AZ91Dマグネシウム合金切削チップの熱間押出による結晶粒微細化と高速超塑性</td>
<td>會田哲夫・高辻則夫・<br />
松木賢司・川辺祐良・<br />
鎌土重晴</td>
</tr>
<tr>
<td>6061アルミニウム合金の水素脆化特性に及ぼす結晶粒サイズの影響</td>
<td>大崎修平・原野　徹・<br />
池田　淳・一谷幸司・<br />
趙　丕植・竹島義雄</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="data/prize/21ronbun.pdf" target="_blank">平成21年度</a></th>
<td>ピーク時効した多結晶Al-Mg-Si合金の粒界破断に対する結晶粒方位の影響</td>
<td>松田健二・築山淳次・<br />
上谷保裕・池野　進</td>
</tr>
<tr>
<td>2軸応力試験によるアルミニウム飲料缶の変形および破断強度の異方性の測定</td>
<td>桑原利彦・井上裕之・<br />
花房泰浩・伊藤 隆一・<br />
瀧澤 英男</td>
</tr>
<tr>
<td>Effect of Precipitation on Development of Recrystallization Texture in a 6061 Aluminum Alloy</td>
<td>樫原恵蔵・稲垣裕輔</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/22ronbun.pdf" target="_blank">平成22年度</a></th>
<td>高湿度空気中における中強度7000系アルミニウム合金の水素脆化特性</td>
<td>大崎修平・前田悦宏・<br />森田　到・中井　学・<br />
藪田　均</tr>
<tr>
<td>Combined Effect of Pre-Straining and Pre-Aging on Bake-Hardening<br /> Behavior of an Al-0.6mass%Mg-1.0mass%Si Alloy</td>
<td>増田哲也・高木康夫・<br />櫻井健夫・廣澤渉一</td>
</tr>
<tr>
<td>DC鋳造におけるAl-Mn系およびAl-Mg系アルミニウム合金の割れ感受性予測方法</td>
<td>森下　誠・阿部光宏・<br />徳田健二・吉田 誠</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/23ronbun.pdf" target="_blank">平成23年度</a></th>
<td>アルミニウム合金板の曲げ加工性に及ぼす板厚方向の集合組織分布の影響</td>
<td>伊川慎吾・浅野峰生・<br />黒田充紀・吉田健吾</tr>
<tr>
<td>Thermal Desorption Spectroscopy Study on the Hydrogen Trapping States in a Pure Aluminum</td>
<td>泉　孝裕・伊藤吾朗</td>
</tr>
<tr>
<td>Effects of Cu Addition on Behavior of Nanoclusters during Multi-Step Aging in Al–Mg–Si Alloys</td>
<td>金　在皇・小林郁夫・<br />里　達雄</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/24ronbun.pdf" target="_blank">平成24年度</a></th>
<td>7N01アルミニウム合金の時効特性に及ぼす化学成分の影響</td>
<td>箕田　正・吉田英雄</tr>
<tr>
<td>異方性降伏関数を用いたアルミニウム合金板の液圧バルジ成形シミュレーションと実験検証</td>
<td>彌永大作・桑原利彦・<br />上間直幸・浅野峰生</td>
</tr>
<tr>
<td>Al–Mg–Si系合金の再結晶集合組織形成に及ぼす冷間圧延率の影響</td>
<td>竹田博貴・日比野旭・<br />高田　健</td>
</tr>
<tr>
<th rowspan="3" nowrap="nowrap"><a href="./images/contents/163/25ronbun.pdf" target="_blank">平成25年度</a></th>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/63/2/63_57/_article/-char/ja/" target="_blank">湿潤空気中におけるAl–Zn–Mg–Cu合金の水素脆化挙動の調質による変化</a></td>
<td>大﨑修平・春山繁之・</br>古賀　毅・上西　研</tr>
<tr>
<td><a href="https://www.jstage.jst.go.jp/article/jilm/63/5/63_188/_article/-char/ja/" target="_blank">アルミニウム合金のせん断帯における3D/4D破壊力学的評価</a></td>
<td>清水一行・坂口祐二・</br>酒井一憲・戸田裕之・</br>上杉健太朗・竹内晃久・</br>小林正和</td>
</tr>
</tbody>
</table>

<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
