<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属希望の星賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）軽金属希望の星賞は、軽金属の学業の向上発展を奨励し、軽金属の未来を担う人材の育成を目的として、人格・学業ともに優秀な学生に贈る。 <br />
2）前項の学生は、大学院修士課程(博士前期課程)、学部学生または高等専門学校専攻科の学生とし、当該年度に修了または卒業する予定の者とする。 </p>
<h4>2.応募推薦方法 </h4>
<p>1）受賞候補者は、社団法人軽金属学会（以下「本学会」という）の会誌「軽金属」の会告及び本学会のホームページによって公募する。 <br />
2）推薦者は所定の<a href=./images/contents/164/kibounohoshiyousi.doc target="_blank">「軽金属希望の星賞候補推薦(応募)書」</a>により、指定された期日までに候補者が所属する支部の支部長宛に応募者を推薦する。 <br />
3）推薦者は軽金属学会正会員または名誉会員で、かつ被推薦者（応募者）を直接指導している教員とする。 </p>
<h4>3.本年度応募推薦書提出期限 </h4>
<p>支部長への提出期限：平成25年11月18日（月） <br />
支部長から本部への提出期限：平成26年1月10日（金） </p>
<h4>4.受賞者一覧</h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<td><a href="./images/contents/163/kibounohoshi24.pdf" target="_blank">平成24年度　軽金属希望の星賞</a></td>
</tr>
<tr>
<td><a href="./images/contents/163/kibounohoshi23.pdf" target="_blank">平成23年度　軽金属希望の星賞</a></td>
</tr>
<tr>
<td><a href="./images/contents/163/kibounohoshi22.pdf" target="_blank">平成22年度　軽金属希望の星賞</a></td>
</tr>
<tr>
<td><a href="data/prize/kibounohoshi21.pdf" target="_blank">平成21年度　軽金属希望の星賞</a></td>
</tr>
<tr>
<td><a href="data/prize/kibounohoshi20.pdf" target="_blank">平成20年度　軽金属希望の星賞</a></td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
