<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属躍進賞】</h3>
<h4>1.受賞対象 </h4>
<p>1）本賞は軽金属学に関わる学術研究および技術開発の発展に顕著な功績をあげ、軽金属学会における今後の発展が期待される者を顕彰するものである。 <br />
2）受賞者は受賞の年の4月1日現在において満36歳以上45歳以下の正会員、学生会員とする。 </p>
<h4>2.応募推薦方法 </h4>
<p>1）受賞候補者は軽金属学会誌「軽金属」の会告によって公募する。 <br />
2）推薦者または応募者は所定の<a href="./images/contents/194/yakushinyousi.doc" target="_blank">「軽金属躍進賞候補推薦（応募）書」</a>により、指定された期日までに会長宛に推薦（応募）する。 <br />
3）推薦者は本学会正会員とする。 </p>
<h4>3.本年度応募推薦書提出期限 </h4>
<p>平成25年7月12日（金） </p>
<h4>4.受賞者一覧 </h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th class="alignT">回数</th>
<th>年度</th>
<th>受賞者</th>
<th>受賞者所属</th>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="./images/contents/163/11yakusin.pdf" target="_blank">第11回</a></th>
<td rowspan="3">平成24年度</td>
<td>　倉本　　繁</td>
<td>株式会社豊田中央研究所</td>
</tr>
<tr>
<td>　服部　伸郎</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<td>　堀川　敬太郎</td>
<td>大阪大学</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="./images/contents/163/10yakusin.pdf" target="_blank">第10回</a></th>
<td rowspan="3">平成23年度</td>
<td>　千野　靖正</td>
<td>独立行政法人産業技術総合研究所</td>
<tr>
</tr>
<td>　森下　　誠</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="./images/contents/163/9yakusin.pdf" target="_blank">第9回</a></th>
<td rowspan="3">平成22年度</td>
<td>　新倉　昭男</td>
<td>古河スカイ株式会社</td>
</tr>
<tr>
<td>　松木　一弘</td>
<td>広島大学</td>
</tr>
<tr>
<td>　箕田　　正</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="data/prize/8yakusin.pdf" target="_blank">第8回</a></th>
<td rowspan="3">平成21年度</td>
<td>　宇都宮　裕</td>
<td>大阪大学</td>
</tr>
<tr>
<td>　久保田　正広</td>
<td>日本大学</td>
</tr>
<tr>
<td>　中山　栄浩</td>
<td>山梨大学</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="data/prize/7yakusin.pdf" target="_blank">第7回</a></th>
<td rowspan="3">平成20年度</td>
<td>　内田　秀俊</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　趙　　 丕植</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<td>　小橋　　眞</td>
<td>名古屋大学</td>
</tr>
<tr>
<th rowspan="2" class="alignT"><a href="data/prize/6yakusin.pdf" target="_blank">第6回</a></th>
<td rowspan="2">平成19年度</td>
<td>　成島　尚之</td>
<td>東北大学</td>
</tr>
<tr>
<td>　日野　実</td>
<td>岡山県工業技術センター</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="data/prize/5yakusin.pdf" target="_blank">第5回</a></th>
<td rowspan="3">平成18年度</td>
<td>　羽賀　俊雄</td>
<td>大阪工業大学</td>
</tr>
<tr>
<td>　柴柳　敏哉</td>
<td>大阪大学　接合科学研究所</td>
</tr>
<tr>
<td>　長海　博文</td>
<td>日本軽金属株式会社</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="data/prize/17yakusin.htm" target="_blank">第4回</a></th>
<td rowspan="3">平成17年度</td>
<td>　佐々木　元</td>
<td>広島大学</td>
</tr>
<tr>
<td>　田中　宏樹</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　馬渕　守</td>
<td>京都大学</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="data/prize/16yakusin.htm" target="_blank">第3回</a></th>
<td rowspan="3">平成16年度</td>
<td>　戸田　裕之</td>
<td>豊橋技術科学大学</td>
</tr>
<tr>
<td>　松田　健二</td>
<td>富山大学</td>
</tr>
<tr>
<td>　中井　学</td>
<td>株式会社神戸製鋼所</td>
</tr>
<tr>
<th rowspan="3" class="alignT"><a href="data/prize/15yakusin.htm" target="_blank">第2回</a></th>
<td rowspan="3">平成15年度</td>
<td>　熊谷　正樹</td>
<td>住友軽金属工業株式会社</td>
</tr>
<tr>
<td>　佐藤　英一</td>
<td>独立行政法人宇宙航空研究開発機構</td>
</tr>
<tr>
<td>　宝野　和博</td>
<td>物質・材料研究機構　材料研究所</td>
</tr>
<tr>
<th rowspan="3" class="alignT">第1回</th>
<td rowspan="3">平成14年度</td>
<td>　鎌土　重晴</td>
<td>長岡技術科学大学</td>
</tr>
<tr>
<td>　熊井　真次</td>
<td>東京工業大学</td>
</tr>
<tr>
<td>　小山　克己</td>
<td>古河電気工業株式会社</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
