<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属学会功労賞】</h3>
<h4>1.受賞対象 </h4>
<p>軽金属学会功労賞は、長年にわたり本学会の運営並びに活動に参加し本学会の発展に顕著な貢献をした者に贈る。 </p>
<h4>2.応募推薦方法 </h4>
<p>本学会の理事、支部長または常設委員長から所定の推薦書により推薦を行う。 </p>
<h4>3.平成25年度応募推薦書提出期限 </h4>
<p>平成25年12月13日（金） </p>
<h4>4.受賞者一覧 </h4>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th align="center">回数</th>
<th align="center">年度</th>
<th align="center" colspan="2">受賞者</th>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/15korosyo.pdf" target="_blank">第15回</a></th>
<td>平成25年度</td>
<td colspan="2">　村上　　 哲　　 　 アイシン軽金属株式会社　専務取締役</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/14korosyo.pdf" target="_blank">第14回</a></th>
<td>平成24年度</td>
<td colspan="2">　石川　和徳　　 　 古河スカイ株式会社　技術部　主査<br />
　三久保　滋　　　　九州三井アルミニウム工業株式会社　技術顧問<br />
　山下　友一　　　　三協マテリアル株式会社　執行役員</td>
</tr>
<tr>
<th rowspan="2" class="alignT"><a href="./images/contents/163/13korosyo.pdf" target="_blank">第13回</a>
</th>
<td rowspan="2">平成23年度</td>
<td colspan="2">特別功労賞<br />
　浅見　重則　　　 古河スカイ株式会社　技術顧問　</td>
</tr>
<tr>
<td colspan="2">　新瀬　　誠　　 　　ＹＫＫ ＡＰ株式会社　主幹技師<br />
　長谷部光弘　　　 九州工業大学　名誉教授</td>
</tr>
<tr>
<th rowspan="2" class="alignT"><a href="data/prize/12korosyo.pdf" target="_blank">第12回</a></th>
<td rowspan="2">平成22年度</td>
<td colspan="2">特別功労賞<br />
　碓井　栄喜　　　 株式会社神戸製鋼所　アルミ・銅カンパニー　技監　</td>
</tr>
<tr>
<td colspan="2">　佃　　 市三　　　 昭和電工堺アルミ株式会社　専務取締役<br />
　村田　　清　　　　芝浦工業大学　准教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/11korosyo.pdf" target="_blank">第11回</a></th>
<td>平成21年度</td>
<td colspan="2">　関　　 史江　　　 東京大学大学院工学系研究科　助教<br />
　頓田　英機　　　 熊本大学　名誉教授<br />
　永田　公二　　　 住友軽金属工業株式会社　顧問　</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/10korosyo.pdf" target="_blank">第10回</a></th>
<td>平成20年度</td>
<td colspan="2">　権田　峰夫　　　 株式会社旭精機　技術顧問<br />
　福井　康司　　　 東洋アルミニウム株式会社　取締役<br />
　山田　徹　　　　　旭テック株式会社　基礎研究部　部長</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/9korosyo.pdf" target="_blank">第9回</a></th>
<td>平成19年度</td>
<td colspan="2">　伊藤　房男 　　　三協立山アルミ株式会社　企画部　参事<br />
　洲崎　　 博 　　　ワシアルミ株式会社　技術部　次長</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/8korosyo.pdf" target="_blank">第8回</a></th>
<td>平成18年度</td>
<td colspan="2">　岩田　文夫　　　 元　YKK株式会社　常務取締役　東北工場長<br />
　中野　義信　　　 宮越工芸株式会社<br />
　井波　隆夫　　　 社団法人日本アルミニウム協会　理事</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/7korosyo.pdf" target="_blank">第7回</a></th>
<td>平成17年度</td>
<td colspan="2">　藤本日出男　　　神鋼真岡サービス株式会社　受託研究部長<br />
　林　　 勝三　　　 旭テック株式会社　専務執行役<br />
　吉岡　茂喜　　　 三協アルミニウム工業株式会社　技術開発本部副理事</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/6korosyo.pdf" target="_blank">第6回</a></th>
<td>平成16年度</td>
<td colspan="2">　大西　忠一 　　　大阪府立大学大学院　助教授<br />
　花崎　昌幸　　　 日本軽金属株式会社　研究員<br />
　佐武　誠　　　　　北陸アルミニウム株式会社　顧問</td>
</tr>
<tr>
<th rowspan="2" class="alignT"><a href="./images/contents/163/5korosyo.pdf" target="_blank">第5回</a></th>
<td rowspan="2">平成15年度</td>
<td colspan="2">特別功労賞<br />
　小南　一郎　　　 財団法人軽金属奨学会理事長<br />
　　　　　　　　　　　 東洋アルミニウム株式会社相談役　</td>
</tr>
<tr>
<td colspan="2">　岡庭　茂　　　　　日本軽金属株式会社　参与<br />
　杉浦　泰夫　　　 株式会社株式会社浅沼技研　技術顧問<br />
　福岡　潔　　　　　ハイドロアルミニウム・ジャパン株式会社　技術顧問</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/4korosyo.pdf" target="_blank">第4回</a></th>
<td>平成14年度</td>
<td colspan="2">　北岡　山治　　　 日本軽金属株式会社　嘱託<br />
　千葉　文紀　　　 元　昭和電工株式会社　主席研究員<br />
　長　　 隆郎　　　 名古屋大学　名誉教授<br />
　永井　修次　　　 東京都立工業高等専門学校　教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/3korosyo.pdf" target="_blank">第3回</a></th>
<td>平成13年度</td>
<td colspan="2">　村上　　雄　　　　帝京科学大学　教授<br />
　柳沢　　平　　　　広島大学　教授<br />
　上田　雄三　　　 福岡アルミ工業株式会社　代表取締役</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/2korosyo.pdf" target="_blank">第2回</a></th>
<td>平成12年度</td>
<td colspan="2">　磯貝　光之　　　 アイシン軽金属株式会社　取締役副社長<br />
　大森　梧郎　　　 元　科学技術庁金属材料技術研究所<br />
　小菅　張弓　　　 日本軽金属株式会社　常勤顧問<br />
　宮木　美光　　　 ニコーアルミ工業株式会社　代表取締役<br />
　柳田　清實　　　 日圧産業株式会社　常任顧問</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/1korosyo.pdf" target="_blank">第1回</a></th>
<td>平成11年度</td>
<td colspan="2">　田中　孝一　　　 元　古河電気工業株式会社　部長<br />
　藤川　辰一郎　　東北大学工学部</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
