<h2>表彰</h2>
<div class="main_box">
<h3>【軽金属学会賞】</h3>
<h4>1.受賞対象 </h4>
<p>本賞は軽金属に関する学理又は技術の進歩発展に顕著な貢献をした者に贈る。 </p>
<h4>2.応募推薦方法 </h4>
<p>受賞候補者の推薦者は本会理事並びに評議員とし、本会指定の推薦書を付し、本会会長に申し出るものとする。 </p>
<h4>3.平成25年度応募推薦書提出期限 </h4>
<p>平成25年12月13日（金） </p>
<h4>4.受賞者一覧 </h4>
<table width="100%" cellpadding="0" cellspacing="0" class="t_border">
<tbody>
<tr>
<th class="alignT"><a href="./images/contents/163/16gakkaisyo.pdf" target="_blank">第16回</a></th>
<td>平成25年度</td>
<td>池野　　進</td>
<td>北陸職業能力開発大学校　校長、富山大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/15gakkaisyo.pdf" target="_blank">第15回</a></th>
<td>平成24年度</td>
<td>茂木　徹一</td>
<td>千葉工業大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/14gakkaisyo.pdf" target="_blank">第14回</a></th>
<td>平成23年度</td>
<td>美浦　康宏</td>
<td>九州大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/13gakkaisyo.pdf" target="_blank">第13回</a></th>
<td>平成22年度</td>
<td>小松　伸也</td>
<td>関西大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/12gakkaisyo.pdf" target="_blank">第12回</a></th>
<td>平成21年度</td>
<td>吉永　日出男</td>
<td>九州大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/11gakkaisyo.pdf" target="_blank">第11回</a></th>
<td>平成20年度</td>
<td>小島　陽</td>
<td>長岡技術科学大学　学長</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/10gakkaisyo.pdf" target="_blank">第10回</a></th>
<td>平成19年度</td>
<td>長村　光造</td>
<td>京都大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/9gakkaisyo.pdf" target="_blank">第9回</a></th>
<td>平成18年度</td>
<td>菅野　幹宏</td>
<td>東京大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/8gakkaisyo.pdf" target="_blank">第8回</a></th>
<td>平成17年度</td>
<td>時末　　光</td>
<td>日本大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="data/prize/7gakkaisyo.pdf" target="_blank">第7回</a></th>
<td>平成16年度</td>
<td>小林　俊郎</td>
<td>豊橋技術科学大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/6gakkaisyo.pdf" target="_blank">第6回</a></th>
<td>平成15年度</td>
<td>金子　純一</td>
<td>日本大学　教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/gakkaisyo5.pdf" target="_blank">第5回</a></th>
<td>平成14年度</td>
<td>神尾　彰彦</td>
<td>東京工業大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/gakkaisyo4.pdf" target="_blank">第4回</a></th>
<td>平成13年度</td>
<td>堀内　　良</td>
<td>東京大学　名誉教授</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="./images/contents/163/gakkaisyo3.pdf" target="_blank">第3回</a></th>
<td>平成12年度</td>
<td>馬場　義雄</td>
<td nowrap="nowrap">住友軽金属工業株式会社　常任顧問</td>
</tr>
<tr>
<th nowrap="nowrap" class="alignT"><a href="./images/contents/163/gakkaisyo2.pdf" target="_blank">第2回</a></th>
<td>平成11年度</td>
<td nowrap="nowrap">平野　賢一</td>
<td>東北大学　名誉教授</td>
</tr>
<tr>
<th class="alignT"><a href="./images/contents/163/gakkaisyo1.pdf" target="_blank">第1回</a></th>
<td>平成10年度</td>
<td nowrap="nowrap">村上　陽太郎</td>
<td>京都大学　名誉教授</td>
</tr>
</tbody>
</table>
<div class="line"></div>
<p><a href="./?mode=content&pid=155">≪一覧へ戻る</a></p>
</div>
