<h2>ロードマップ</h2>
<div class="main_box">
<h3>21世紀の軽金属材料工学技術の推進</h3>
<p>　軽量な金属材料として知られるアルミニウム、マグネシウム、チタンはいまや人間の社会生活には不可欠な材料となっている。材料の軽量性は輸送機器の軽量化に繋がり端的で分かり易い。しかし、実際に社会の中で広く活用を図ろうとするといろいろな問題点を克服しなければならない。軽金属学会では、21世紀の豊かな社会を支えるために、また、わが国の産業を発展させ世界人類が共存して生活できることを願って様々な取り組みを行っている。その中で、特に重視しているのが次の2点である。</p>
<h3>リサイクル・自給自足システムの構築</h3>
<p>　リサイクルが最も効果的な金属材料はアルミニウムといえる。鉱石（ボーキサイト）から精錬で得るよりもリサイクルで再利用する場合は1割のエネルギーで済むことになる。つまり9割のエネルギーが削減可能となる。いかに回収システムを良くして回収率を上げるかが重要となる。しかし、一方では不純物が数・量ともに増え、アルミニウムの特性を損なうことになる。対策は2つで、不純物が多くても本来のあるいはそれ以上の特性が出るようにすること、もう一つは、不純物を正確かつ迅速に低減あるいは分別をすることである。前者では、不純物元素の無害化や有効活用につながるプロセス技術の向上や新規プロセス技術の開発が必要であり、後者では不純物分離除去技術や成分調整技術の向上が重要となる。<br />
</p>
<p>　リサイクルは、特に資源を海外に依存しているわが国にとっては、世界政情や経済情勢に左右されない新たな資源確保法として捉えることもできる。すなわち、製品を資源と捉えることで、リサイクル技術が社会に与える影響は計り知れない。たとえば、輸送機器のみならず、一般家屋も含めた建築構造物や橋などの社会基盤構造物にアルミニウムを多用することで、古くなれば廃棄ではなく新たな活用資源として再利用することができる。量が多くなれば価格も低下するという善循環を招くことになる。軽金属材料におけるリサイクルシステムの構築はエネルギー節約とともに安定社会を導くことになる。<br />
</p>
<h3>ライトマテリアル学・技術の推進</h3>
<p>　あえてライトマテリアルとするのは、軽量を強調した持続社会を意識したものである。軽量な福祉器具は使い易さから必須の要件といえる。精密なロボット操作にも軽量材料の使用は不可欠である。宇宙航空機はもとより、自動車、鉄道車両などの輸送機器では軽量化によるエネルギー削減とともに、CO2ガスの大幅削減に貢献できる。地球規模の温暖化抑止は緊急課題とされるなか、質・量・コストで要求に的確に応える必要がある。強度や延性の向上とともに、成形性、耐食性、接合性、電気伝導性などの向上をもたらす技術開発はライトマテリアル学・技術の推進に重要と考えている。</p>

<div class="line"></div>
<div class="alignC"><img src="images/02_s.jpg" alt="自給自足軽金属素材技術の構築" width="670" height="501" /></div>

<div class="line"></div>
<div class="alignC"><img src="images/03_s.jpg" alt="自給自足軽金属素材技術の構築" width="670" height="505" /></div>

<div class="line"></div>
<div class="alignC"><img src="images/04_s.jpg" alt="自給自足軽金属素材技術の構築" width="670" height="505" /></div>
</div>
