
<h2>公募情報</h2>
<div class="main_box">
<h3>熊本大学大学院自然科学研究科産業創造工学専攻　マテリアル工学講座　女性教員公募</h3>
<p>熊本大学大学院自然科学研究科は、平成22年度に採択された文部科学省科学技術振興調整費女性研究者養成システム改革加速プログラム「バッファリングによる女性研究者養成の加速（熊本大学）」に基づき、下記の要領で女性教員を公募致します。<br />
</p>
<table border="0" cellspacing="0" cellpadding="3">
<tr>
<td class="alignT">1.募集職種　：</td>
<td>助教1名（任期5年、再任可）<br />
ただし、業績により准教授または教授としての採用もあり得ます。</td>
</tr>
<tr>
<td class="alignT">2.専門分野　：</td>
<td>材料物性、材料組織、材料加工、構造・機能材料、材料生産工学のいずれかの分野</td>
</tr>
<tr>
<td class="alignT">3.応募資格　：</td>
<td>博士の学位を取得後、研究者としての経験（ポスドクを含む）を有する方（他条件あり）</td>
</tr>
<tr>
<td class="alignT">4.採用予定日：</td>
<td>平成23年度内の出来るだけ早い時期</td>
</tr>
<tr>
<td class="alignT">5.その他：</td>
<td>研究支援制度があります。</td>
</tr>
<tr>
<td class="alignT">6.応募締切　：</td>
<td>平成23年1月7日（金曜日）　17:00必着</td>
</tr>
<tr>
<td class="alignT">7.問合せ先　：</td>
<td>熊本大学大学院自然科学研究科産業創造工学専攻<br />
マテリアル工学講座　主任　河原正泰<br />
TEL　096-342-3719　<br />
E-mail: kawahara（あっと）alpha.msre.kumamoto-u.ac.jp（送信の際は（あっと）を@に）</td>
</tr>
</table>
</div>
