<script type="text/javascript"> 
<!-- 
function check(){
	if(window.confirm('送信してよろしいですか？')){ // 確認ダイアログを表示
		return true; // 「OK」時は送信を実行
	}
	else{ // 「キャンセル」時の処理
		return false; // 送信を中止
	}
}
// -->
</script>
<h2>入会案内</h2>
<div class="main_box">
<h3><a name="about" id="about"></a>インターネットサービスとは</h3>
<p>※軽金属学会会員へのサービスです。(軽金属学会への入会を希望される方は<a href="./?mode=content&pid=67">こちら</a>)<br />
※軽金属学会インターネットサービスは<span class="fc_red">無料</span>です。</p>
<table width="100%" border="0" cellpadding="1" cellspacing="1">
<tbody>
<tr>
<td colspan="2"><strong>インターネットサービスに登録するとご利用戴けるサービスは以下のとおりです</strong></td>
</tr>
<tr>
<td width="2%"><img height="10" src="../images/news_ico.jpg" width="10" border="0" /></td>
<td width="98%">ホームページ上からの春秋大会の講演申込み,参加申込み</td>
</tr>
<tr>
<td><img height="10" src="../images/news_ico.jpg" width="10" border="0" /></td>
<td>ホームページ上からのシンポジウム・セミナーへの参加申込み</td>
</tr>
<tr>
<td><img height="10" src="../images/news_ico.jpg" width="10" border="0" /></td>
<td>投稿論文校閲状況の確認</td>
</tr>
<tr>
<td><img height="10" src="../images/news_ico.jpg" width="10" border="0" /></td>
<td>Q&A掲示板への書込み(質問・回答)</td>
</tr>
<tr>
<td><img height="10" src="../images/news_ico.jpg" width="10" border="0" /></td>
<td>学会からのお知らせ(仮称)の受信(希望者のみ)</td>
</tr>
</tbody>
</table>

<h3><a name="info" id="info"></a>インターネットサービスご利用の手引</h3>
<table width="100%" border="0" cellspacing="3" cellpadding="2">
<tbody>
<tr>
<td valign="top" align="middle" width="28">1</td>
<td><strong>インターネットサービス新規登録</strong><br />
下記インターネットサービス申込フォームに必要事項を入力し送信してください。</td>
</tr>
<tr>
<td valign="top" align="middle" width="28">2</td>
<td><strong>登録確認の電子メール、本人確認</strong><br />
登録された電子メールアドレスに本人確認の電子メールを送信します。電子メールの内容に従って本人確認の処理を行ってください。なお、半日ほど経過しても確認の電子メールが届かない場合、登録が正しく行われていない可能性がありますので、登録をやり直してみてください。それでも登録されない場合は、お手数でも下記事務局宛にお問合せ願います。</td>
</tr>
<tr>
<td valign="top" align="middle" width="28">3</td>
<td><strong>インターネットサービス申込者の確認（事務局）</strong><br />
事務局でインターネットサービス申込者の確認を行います。この作業には数日を要することもありますので、あらかじめご了承ください。</td>
</tr>
<tr>
<td valign="top" align="middle" width="28">4</td>
<td><strong>インターネットサービス利用許可の通知</strong><br />
インターネットサービス利用許可の通知を登録されたメールアドレスへ電子メールで送信します。</td>
</tr>
<tr>
<td valign="top" align="middle" width="28">5</td>
<td><strong>インターネットサービス利用開始</strong><br />
インターネットサービス利用許可の通知が届きましたら、各インターネットサービスがご利用いただけます。トップページ上部のコンテンツの「ログイン」より会員番号およびパスワードを使ってログインしてください。各インターネットサービスはそれぞれのご利用方法や注意書きをよく読んでご利用ください。</td>
</tr>
<tr>
<td valign="top" align="middle" width="28">6</td>
<td><strong>注意事項</strong><br />
1.登録した内容およびパスワードの変更<br />
登録した内容およびパスワードの変更は、ログイン後、インターネットサービス登録内容変更のページにて変更が可能です。<br />
2.インターネットサービスの利用の停止<br />
インターネットサービスの利用を停止する場合は、ログイン後、利用停止のページにて手続きを行ってください。なお、この手続きは、あくまでもインターネットサービスの利用の停止であり、軽金属学会を退会することにはなりません。ただし、軽金属学会を退会された場合は、自動的に本サービスも利用できなくなります。</td>
</tr>
<tr>
<td valign="top" align="middle" width="28">7</td>
<td><strong>問合せ先</strong>：（社）軽金属学会事務局<br />
E-mail：webmaster@jilm.or.jp<br />
TEL：03-3538-0232<br />
FAX：03-3538-0226</td>
</tr>
</tbody>
</table>
<h3> <a name="touroku">下記のフォームに入力して、インターネットサービスの新規登録を行ってください。</a> </h3>
<p>入力上の注意<br />
1.<span class="fc_red"><b>※</b>のところは記入必須</span>事項です。<br />
<!--2.会員番号は、<span class="fc_red">新しい会員番号でご登録</span>ください（「軽金属」送付袋参照）。<br />
　　新しい会員番号への変更方法は下記のとおりです。<br />
　　現在の会員番号（会員名簿参照）の会員番号の頭が6から9の場合：3番目の0をとって、頭に1を加える<br />
　　例）現在の会員番号　680987　→　新会員番号　168987　<br />
　　（現在の会員番号が2から始まる方については会員番号の変更はありません。）<br />-->
2.<span class="fc_red">半角カナ、機種固有文字、ユーザー登録文字は使用しない</span>でください。<br />
　　例) 株式会社の記号、㈱など</p>
<div class="line"></div>
<p style="color: #F00;font-weight: bold;"><?=$err_msg?></p>
<form action="./?mode=content&pid=72#touroku" method="post" onSubmit="return check()">
<table width="100%" border="0" cellpadding="0" cellspacing="3" class="entry">
<tr>
<th width="28%" class="alignR"><span class="fc_red">※</span>会員区分</th>
<td width="72%"><?=
html_radios(
	$op_arr = $member_kubun01_type,
	$selected = $dsp[ 'member_kubun01' ],
	$op_name = 'kubun',
	$separator=' ',
	$col=''
);
?></td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>会員番号<br />
<span class="fs10">「軽金属」送付袋参照</span></th>
<td><input type="text" name="userid" size="30" value="<?=$dsp[ 'member_userid']?>" />
例：123456(半角数字6桁)</td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>氏名<br />
<span class="fs10">（全角漢字）</span></th>
<td>
<input type="text" name="name" size="30" value="<?=$dsp[ 'member_name']?>" />
</td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>フリガナ<br />
<span class="fs10">（全角カナ）</span></th>
<td>
<input type="text" name="kana" size="30" value="<?=$dsp[ 'member_kana']?>" />
</td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>メールアドレス<br />
<span class="fs10">（半角英数）</span></th>
<td><input type="text" name="mail" size="30" style="ime-mode:disabled;" value="<?=$dsp[ 'member_mail']?>" /></td>
</tr>
<tr>
<td colspan="2"><div class="alignC"><strong>所属機関 （各種申込の際、テキスト等の送付先になりますので、間違いのないよう、くわしくご入力下さい）</strong></div></td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>勤務先／学校名・所属<b><br />
</b><span class="fs10">（全角）</span></th>
<td> 勤務先／学校名
<input type="text" name="belong1" size="30" value="<?=$dsp[ 'member_info01']?>" />
<br />
所属
<input type="text" name="belong2" size="30" value="<?=$dsp[ 'member_info02']?>" /></td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>勤務先／学校住所<b><br />
</b><span class="fs10">（全角、数字は半角）</span></th>
<td> 〒
<input size="3" type="text" name="zip1" maxlength="3" value="<?=$dsp[ 'member_zip1']?>" />
-
<input size="4" type="text" name="zip2" maxlength="4" value="<?=$dsp[ 'member_zip2']?>" />
<br />
<input type="text" name="address" size="40" value="<?=$dsp[ 'member_address']?>" /></td>
</tr>
<tr>
<th class="alignR"><span class="fc_red">※</span>電話番号<br />
<span class="fs10">（半角数字）</span></th>
<td><input type="text" name="tel" size="30" value="<?=$dsp[ 'member_tel']?>" />
例：03-3538-0232<br />
※電話番号は半角数字と-以外の入力は出来ません。
</td>
</tr>
<tr>
<th class="alignR">FAX番号<br />
<span class="fs10">（半角数字）</span></th>
<td><input type="text" name="fax" size="30" value="<?=$dsp[ 'member_fax']?>" />
例：03-3538-0226<br />
※FAX番号は半角数字と-以外の入力は出来ません。
</td>
</tr>

</table>
<h4>希望のパスワードを設定してください。</h4>
<table border="0" cellpadding="10" cellspacing="0" class="t_border">
<tr>
<th><strong>パスワード<b class="fc_red">※</b> (半角英数4～15文字)</strong></th>
<td><input type="password" name="pass1" size="20" value="<?=$dsp[ 'member_pass']?>" /></td>
</tr>
<tr>
<th><strong>パスワード<b class="fc_red">※</b> (確認のためもう一度)</strong></th>
<td><input type="password" name="pass2" size="20" value="<?=$dsp[ 'member_pass_2']?>" /></td>
</tr>
</table>
<div class="line"></div>
<div class="alignC">
内容を充分にご確認の上、送信して下さい。<br />
<input name="MEMBER_REGIST_SEND" type="submit" value=" 送　信 " />　<input name="RESET" type="submit" value="リセット" />
</div>
</form>

</div>
