<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css" />
<title><?=$title?></title>
<link rel="stylesheet" href="./css/admin.css" type="text/css" media="all" />
<link rel="stylesheet" href="./css/admin2.css" type="text/css" media="all" />
</head>
<body>
<div id="admin_cts">
<div id="title">大会関連PDF管理</div>

<table class="search_tbl">
<tr>
<th>■大会関連PDF管理</th>
<td>
<? if($err_msg != ""){ ?>
<span style="color:red"><?=$err_msg?></span><br>
<? } ?>

<? if($comment_msg != ""){ ?>
<p class="mini_title top_info_text"><?=$comment_msg?></p>
<? } ?>
<p class="mini_title top_info_text"><?=$dsp[ 'conv_name' ]?>のPDFです</p>

<p class="mini_title">▼大会関連PDF一覧</p>

<table class="inner_tbl" cellspacing="0" cellpadding="0" border="0">

	<tr>
		<td class="index_col" width="150">大会内容：</td>
		<td class="value_col">
		<form method="POST" action="" enctype="multipart/form-data">
		<?=$preview[1]?>
		<input type="file" name="pdf" style="border: none;" />&nbsp;
		<input type="submit" name="PDF_UP" value=" 登 録 " />
		<input type="hidden" name="pdf_id" value="1">
		<input type="hidden" name="convention_id" value="<?=$convention_id?>">
		</form>
		</td>
	</tr>
	<tr>
		<td class="index_col" width="150">講演申し込み用紙：</td>
		<td class="value_col">
		<form method="POST" action="" enctype="multipart/form-data">
		<?=$preview[2]?>
		<input type="file" name="pdf" style="border: none;" />&nbsp;
		<input type="submit" name="PDF_UP" value=" 登 録 " />
		<input type="hidden" name="pdf_id" value="2">
		<input type="hidden" name="convention_id" value="<?=$convention_id?>">
		</form>
		</td>
	</tr>
	<tr>
		<td class="index_col" width="150">参加申し込み用紙：</td>
		<td class="value_col">
		<form method="POST" action="" enctype="multipart/form-data">
		<?=$preview[3]?>
		<input type="file" name="pdf" style="border: none;" />&nbsp;
		<input type="submit" name="PDF_UP" value=" 登 録 " />
		<input type="hidden" name="pdf_id" value="3">
		<input type="hidden" name="convention_id" value="<?=$convention_id?>">
		</form>
		</td>
	</tr>


</table>

<br>
<br>
<br>
<form method="POST" action="">
<div style="text-align: center;">
<input type="submit" value="<?=$submit_back?>" name="BACK">
</div>
</form>
<br>
</td></tr></table>
</td>
</tr>
</table>



</body>
</html>